[2017-12-08 10:31] axeldomingues opened #15 "Getting bad request everytime"
While using this API Client i am getting bad requests everytime from GDax  Sandbox API. Any idea?

Note: Using your sandbox example.

[2017-12-08 15:31] combinu opened #16 "BookRequest Issue"
Hi when i try to get a book request as follows:

 GDAXClient.Services.Products.Models.Responses.ProductsOrderBookResponse book = await gClient.ProductsService.GetProductOrderBookAsync(GetProductType(product));

I get only 1 bid, asks is null and the sequence number. Is there something wrong?

[2017-12-08 15:41] dougdellolio commented on #15
@axeldomingues you must create a separate sandbox account from your regular account here: https://public.sandbox.gdax.com/ and then generate your API keys from here https://public.sandbox.gdax.com/settings/api giving it all necessary permissions.

when you have that then you can use any of the services (examples in readme). If you are trying to place an order make sure there are sufficient funds i

[2017-12-08 16:38] dougdellolio commented on #16
@combinu Sounds like this is related to https://github.com/dougdellolio/gdax-csharp/pull/13. If there is no response from @JamesTFreelance shortly I will open up another PR to fix this issue

[2017-12-10 20:00] dougdellolio commented on #16
closing this issue as it is now fixed with v1.0.4

[2017-12-10 20:00] #16 closed

[2017-12-11 11:44] rr404 opened #23 "Limit Order Bad request due to content format"
Hi,
I got a badrequest when callling OrderService.PlaceLimitOrderAsync(...)

It sems that when you serialize your new Order the price ans size are still floats when they should be converted to string.

At the momment you're sending an order of that format :
{
    "size": 0.01,
    "price": 0.100,
    "side": "buy",
    "product_id": "BTC-USD"
}

_It returns a bad request_

When i tried to force fu

[2017-12-11 16:43] bdelaney opened #24 "Trying to use sandbox but insufficient funds"
Any idea on how I add funds in my sandbox. GDAX is brand new to me, and I have not set up any real fund accounts. Not obvious in Sandbox how I do this.

[2017-12-11 17:29] axeldomingues commented on #15
Thank you so much! Indeed that was the problem! Closing it!

[2017-12-11 17:29] #15 closed

[2017-12-11 17:31] axeldomingues commented on #24
You can go to trading view in the public sandbox api and deposit fake funds from fake accounts.

https://public.sandbox.gdax.com/trade/BTC-USD

[2017-12-11 18:25] bdelaney commented on #24
That was easy once I found the right account to deposit from. Thanks!

[2017-12-11 18:25] #24 closed

[2017-12-11 19:09] bdelaney opened #25 "To do much I need to know my account ID in sandbox"
Where do I find my coinbase/gdax account ID?

[2017-12-12 00:36] dougdellolio commented on #25
@bdelaney using this library you can use the accounts service and do `GetAllAccountsAsync()` which will return all of your accounts with the ids

[2017-12-12 00:46] dougdellolio commented on #23
@rr404 thanks for the feedback!

can you provide to me an example of a call that you are making with the service where you are seeing a bad request? I can't seem to reproduce this locally 😕

here is how it can be used: `gdaxClient.OrdersService.PlaceLimitOrderAsync(OrderSide.Buy, ProductType.BtcUsd, 0.01M, 0.01M)`

would love this fix this ASAP if it is indeed an issue.

[2017-12-12 03:04] bdelaney commented on #25
Thanks, I should have realized it is obscure and not been looking in the web pages for it.

[2017-12-12 03:04] #25 closed

[2017-12-12 15:11] rr404 commented on #23
Ok I'll work on a short piece of code to test it and will submit it.
Meanwhile i'm opening an other issue that may be remotely linked

[2017-12-12 15:28] rr404 opened #26 "Bad timestamp format due to different culture info"
Hi,

Some friends got an issue the timestamp format
On their computer it returns a number with a comma instead of a dot due to their computer's culture info (fr-FR).

It's fixable by doing a quick conversion in the HttpMessageService.cs  (or in the DateExtensions it self as a string GetUniversalTimestampString() Methode

`var ci = new System.Globalization.CultureInfo("en-US");
DateTime.UtcNow.ToTi

[2017-12-12 16:01] rr404 commented on #23
My bad, I misinterpreted the error message, did not look deep enough in the code at the time, sorry for the bother.
The initial code works

[2017-12-12 16:01] #23 closed

[2017-12-13 01:07] dougdellolio commented on #26
@rr404 i have a fix and merged this here which will go out in next release: https://github.com/dougdellolio/gdax-csharp/pull/27. let me know if you still are seeing a problem.

thanks so much!

[2017-12-18 03:29] #26 closed

[2017-12-19 15:45] moski0 opened #31 "GetAllAccountsAsync is nto working"
Hi..

I would like to use your API...

but your testing example is not working...

what are you usign as signature ?

could you check it your example is working ?

please see me test code bellow...

Many thanks
Tomas

-------------------------------------------------------

using GDAXClient.Authentication;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Security.Cry

[2017-12-20 00:38] dougdellolio commented on #31
@moski0 its even easier than that. the client will do all of the signing for you, all you need to do is just pass in your api key, signature (unsigned), and passphrase

so from your example.... it is just this:

[code]

let me know if something still doesnt work 😄

[2017-12-20 08:01] moski0 commented on #31
I have still exception during running GetAllAccountsAsync...

"invalid timestamp"

![x](https://user-images.githubusercontent.com/34658970/34196873-41679dc2-e564-11e7-83c4-55f971552173.png)

[2017-12-20 12:26] dougdellolio commented on #31
May be related to https://github.com/dougdellolio/gdax-csharp/issues/26. The issue should have been fixed with v1.0.5 (from this pr https://github.com/dougdellolio/gdax-csharp/pull/27). Make sure you have the latest version from Nuget. If it still doesn't work then it may still be a bug that I will fix.

Let me know!

[2017-12-20 12:45] moski0 commented on #31
Hi..

yes I have last version 1.0.5 .. (I just tried remoev adn download it again) .. and problem is still the same...

![x](https://user-images.githubusercontent.com/34658970/34207692-d19ab826-e58b-11e7-8cd2-
974fe82e63f2.png)

[2017-12-20 12:46] moski0 commented on #31
here is me version...

![x](https://user-images.githubusercontent.com/34658970/34207758-1b123614-e58c-11e7-80ed-976302a59f02.png)

[2017-12-20 13:11] moski0 commented on #31
I checked your fix.. for  #26 .. it does not seems to be related .... ( dot is instead of comma)

see debug..

![x](https://user-images.githubusercontent.com/34658970/34208670-9c3a0b60-e58f-11e7-8194-c7d369adb2da.png)

[2017-12-20 13:14] dougdellolio commented on #31
Another user that opened the issue I mentioned above had another fix that seemed to work for him if you would like to try that out. I will be able to make the change tonight.

[2017-12-20 14:30] moski0 commented on #31
I found it.. now it works .. :-)
next change from ToString() to ToString(CultureInfo.InvariantCulture) was needed ...

.. see code bellow ...
------------------------------------------------------------------
private void AddHeaders(
            HttpRequestMessage httpRequestMessage,
            IAuthenticator authenticator,
            string signedSignature,
            double timeStamp)

[2017-12-20 23:36] dougdellolio commented on #31
i have added the fix here: https://github.com/dougdellolio/gdax-csharp/pull/32 if you agree, I will release in the next version 😄

thanks so much!

[2017-12-22 17:48] moski0 commented on #31
yes..
thanks very much :-)

[2017-12-22 23:03] #31 closed

[2017-12-25 16:01] bdelaney opened #33 "Any reason not to make this dotnetcore?"
Portability analyzer seems to think it's fine. Just wondering.
...
Oh, I see dependency on Castle.Core which is not dotnetcore friendly?
...
Checking out a few things in different project types and note that this is not an issue with dotnetcore projects that I've added the package too.

[2017-12-26 01:55] bdelaney commented on #33
Closing as not important for now

[2017-12-26 01:55] #33 closed

[2017-12-26 01:56] bdelaney opened #34 "Websocket feed support"
Wondering if this may be on your road map?

[2017-12-26 02:59] dougdellolio commented on #34
@bdelaney yes this is the on the roadmap. thanks!

[2017-12-27 22:50] bdelaney commented on #34
tks

[2017-12-27 22:50] #34 closed

[2017-12-31 00:50] anna1981-t opened #38 "status:WaitingForActivation"
Hi, I get a status message saying WaitingForActivation. Is there something I am doing incorrectly? Can you help?
thanks

anna

[2017-12-31 01:03] dougdellolio commented on #38
Hi,

Are you trying to use the GDAX sandbox? If yes, it is currrently down (and has been for the last week or so unfortunately) which may explain the “waiting” status.

If not, can you provide some code?

[2018-01-02 01:32] bmyatt opened #39 "GET /products/<product-id>/candles"
Is this possible? I can't seem to find it, and I can't find another way to get the history.

[2018-01-02 02:07] dougdellolio commented on #39
i believe you're looking for the items in this PR https://github.com/dougdellolio/gdax-csharp/pull/22

will try and get this merged as soon as possible.

[2018-01-02 03:27] bmyatt commented on #39
Thanks!

[2018-01-05 16:24] linpiero opened #40 "GetAllAccountsAsync not Work (request timestamp expired)"
Hi,
if I call GetAllAccountsAsync i have the error : "System.Net.Http.HttpRequestException: '{"message":"request timestamp expired"}'
"

[2018-01-06 00:19] dougdellolio commented on #40
Hi,

It is hard to say what the problem is here. Please ensure that you are providing correct API key and secret. If still nothing, please provide code (excluding your api keys and other personal info)

thanks!

[2018-01-06 01:34] dougdellolio commented on #39
this is now added in v1.0.7. thanks!

https://github.com/dougdellolio/gdax-csharp/releases/tag/v1.0.7

[2018-01-06 01:34] #39 closed

[2018-01-06 05:55] cquinterox commented on #40
It works for me. I had this issue when trying out a Python client because I held the request in debug for too long which caused the server to reject my (now stale) time stamp.

[2018-01-06 06:36] cquinterox commented on #38
I ran into this message as well. I ran into this because I paused the debugger on an **async** call.

For example the following line gave me the message you stated when paused:
`var cancelOrderById = gdaxClient.OrdersService.CancelOrderByIdAsync(cancelId);`

Adding **Result** to the end will cause the code to be executed synchronously and _should_ give you answer you are expecting.

`var cancelOrd

[2018-01-06 17:56] alexandredubois commented on #40
Hi,
Same here, HTTP 400 : {"message":"invalid timestamp"}
Capturing the HTTP request with Fiddler, i see the CB-ACCESS-TIMESTAMP header with a decimal value: is-it normal ?

CB-ACCESS-TIMESTAMP: 1515261195,2098

I'll try investigating further,

Alex

[2018-01-06 18:03] dougdellolio commented on #40
@alexandredubois i believe that could be a different issue. make sure you are using the latest code as this was a problem in previous versions due to cultureinfo. the fix for it went in here: (https://github.com/dougdellolio/gdax-csharp/pull/32).

the timestamp should be a decimal, yes

[2018-01-06 18:56] alexandredubois commented on #40
I fixed the problem locally (pull request coming).
I guess the problem is with the format. Removing the decimal part, everything is working on my side.

[2018-01-06 20:43] dougdellolio commented on #40
hm interesting. feel free to open a PR.

[2018-01-06 21:04] linpiero commented on #40
the problem is the time of the pc, is it possible to pass  "the timestamp" as a parameter in every service (calling the api https://docs.gdax.com/#time)?

[2018-01-06 21:12] dougdellolio commented on #40
we could do that but I feel like the user should not have to worry about passing in the time, the library should take care of it for you

@alexandredubois has a PR open now that seems to fix it if you want to try it out and see if it fixes your issue. https://github.com/dougdellolio/gdax-csharp/pull/42

[2018-01-06 23:46] alexandredubois opened #43 "[Suggestion] Output of GetHistoricRatesAsync not consistent"
Hello,

The method GetHistoricRatesAsync returns a IEnumerable<object> which seems not very consistent with the other methods.

I think a result of type "IEnumerable<Candle>" with a Candle class containing time/volume/open/close/low/high properties would be easier to manipulate and consistent with the other methods.

Sadly it would be a breaking change but the method seems relatively new...

Alex

[2018-01-07 04:27] dougdellolio commented on #43
I believe the reason it was done this way as the JSON returned is returned as an array of values:

[code]

there is probably a way to do this with newtonsoft - any idea?. would have to look into it but I'm all for it!

[2018-01-07 09:11] alexandredubois commented on #43
Yes i guess it's possible with a custom deserializer.
https://stackoverflow.com/questions/47556191/how-to-deserialize-a-json-array-into-an-object-using-json-net
If i can i'll give it a try !

[2018-01-07 15:07] Steve0212a opened #44 "Please add support for Bitcoin Cash"
It is missing from your ProductType enum...

[2018-01-07 15:21] dougdellolio commented on #44
Hi,

This was added with v1.0.7 here : https://github.com/dougdellolio/gdax-csharp/blob/master/GDAXClient/Shared/ProductType.cs#L14

let me know if you were referring to something else

[2018-01-07 15:23] dougdellolio commented on #43
sweet, let me know if I can help 😄

[2018-01-07 17:16] Steve0212a commented on #44
sorry, I was still on 1.06 and nuget did not tell me there was an update..  found it...

[2018-01-07 17:16] #44 closed

[2018-01-08 02:26] dimsaz opened #45 "what is "signature" for Authenticator?"
Documentation says:

//create an authenticator with your apiKey, **signature** and passphrase
var authenticator = new Authenticator("<apiKey>", "<signature>", "<passphrase>");

GDAX web site have
1. passphrase, like "vy****szp"
2. API key like "8131******6fc971e6"
3. and "API secret" which is long string with == in the end.

What is  **signature** which should be passed as second parameter?

thank

[2018-01-08 02:41] dougdellolio commented on #45
@dimsaz the secret is the same as the signature. so the string ending in ==.

feel free to open up a PR and make that more clear in the readme if you would like

[2018-01-08 08:04] linpiero commented on #40
boolean parameter? if true the library use the time from (https://docs.gdax.com/#time), if false use localtime.can it be a solution?

[2018-01-08 14:08] dimsaz commented on #45
Thank you!!!

Thanks,
Dmitri

От: Doug Dellolio
Отправлено: Sunday, January 7, 2018 в 9:41 PM
Кому: dougdellolio/gdax-csharp
Копия: dimsaz; Mention
Тема: Re: [dougdellolio/gdax-csharp] what is "signature" for Authenticator?(#45)

@dimsaz the secret is the same as the signature. so the string ending in ==.
feel free to open up a PR and make that more clear in the readme if you would like
—
You are

[2018-01-08 20:25] dougdellolio commented on #40
The time issue should be fixed with the latest version from PR #42 so I don’t think we would need to pass in time or read from the GDAX api

Let me know if it is still an issue.

[2018-01-09 01:34] #45 closed

[2018-01-09 08:08] linpiero commented on #40
I have updated to the latest version, but the problem is not solved if the pc time is not synchronized with the gdax time.
https://docs.gdax.com/#selecting-a-timestamp

[2018-01-09 15:56] dougdellolio commented on #40
Sorry to hear it’s still not working. The time doesn’t have to match that endpoint exactly. The api states it can be within 30 seconds with anything after considered expired.

Might be best to provide some code here (omitting your keys) to help debug the issue as I believe the problem lies with how the api is being called

[2018-01-09 16:03] linpiero commented on #40
the code works perfectly !!!. I repeat, the problem is my PC which has the local time not synchronized for 2 minutes and I can not modify it.
That's why I asked you to use the Boolean parameter or the ability to pass the timestamp.
Thanks for your patience

[2018-01-09 17:15] dougdellolio commented on #40
okay no problem. Feel free to open a PR with this change

Thanks

[2018-01-09 17:15] #40 closed

[2018-01-14 03:55] JensKDK opened #50 "Missing parameter in ProductsService.GetProductOrderBookAsync(ProductType productPair)."
Hi, and thank you for all the work.

According to the API documentation, the "Get Product Order Book" service, allows you to specify a "Level". If you wish to maintain a complete Orderbook (using the WebFeed), which I do, I need to start by calling GetProductOrderBookAsync with "Level=3", which returns the entire orderbook non aggregated. Afterwards you keep it updated from the webfeed.

In Produc

[2018-01-14 14:51] dougdellolio commented on #50
@JensKDK

I just opened this PR here: https://github.com/dougdellolio/gdax-csharp/pull/51

Let me know if you are good with this change and I will merge and release with next version.

**Please note there is a breaking change as the response `ProductsOrderBookResponse` is now returning a `IEnumerable<IEnumerable<string>>` as it was returning `IEnumerable<IEnumerable<decimal>>` before. You will nee

[2018-01-14 16:00] JensKDK commented on #50
@dougdellolio

Thank you for your VERY quick response. I couldn't be happier about the changes. Look forward to the release! Thank you!

Regards,
Jens.

[2018-01-15 01:59] dougdellolio commented on #50
@JensKDK released in v1.0.8. thx 😃

[2018-01-15 03:12] JensKDK commented on #50
Thank you!! :-)

[2018-01-15 14:48] JensKDK commented on #50
@dougdellolio

Hi again,

After testing, I have to re-open this. Sorry.

Looking at the service response: https://api.gdax.com/products/BTC-EUR/book?level=3 ...

In ProductsService. ConvertProductOrderBookResponse:

1)
It does not properly convert the strings to decimal. The strings contains a ".", which should be a "," for proper conversion. "." are disregarded, and "10.00" is converted to "1000"

[2018-01-15 15:56] dougdellolio commented on #50
@JensKDK sorry to hear its not working. I think this is a CultureInfo problem?

what happens if you were to try this?

`Convert.ToDecimal(askArray[2], CultureInfo.InvariantCulture)`

also, when requesting level 3 the `OrderId` should be set on the Bid/Ask object but the `NumberOfOrders` will be null. Please let me know if that is not the case

[2018-01-15 16:24] JensKDK commented on #50
@dougdellolio

Sorry, while I've been programming professionally for many years, I'm pretty new to C# and .NET.

When using CultureInfo.InvariantCulture it works :-)
NumberOfOrders become null because it cannot convert bidArray[2] to a decimal. Is there a reason to even try the conversion. It will never work. Also, it's set to null default in Quote.

Thank you for your very quick replies. Look for

[2018-01-15 18:10] dougdellolio commented on #50
@JensKDK no worries, and glad to hear setting the CultureInfo works! I will make this change.

The GDAX API returns the following for level 1 and level 2:

[code]

and this for level 3:

[code]

The only difference is the last element of the collection (bidArray[2]). The logic currently will set the `NumberOfOrders`  property to a value and the `OrderId` to null if the book level specified is 1 or

[2018-01-15 18:38] JensKDK commented on #50
@dougdellolio

Ahh, level 1 and 2 of course. Yes, that is fine. No reason to make separate responses.

Thank you again :-)

[2018-01-15 18:44] dougdellolio commented on #50
please check this out and verify it works:

https://github.com/dougdellolio/gdax-csharp/pull/52

if you're 👍 ill merge and release. thanks for your help!

[2018-01-15 19:52] JensKDK commented on #50
@dougdellolio

I joined GitHub yesterday, and honestly have no idea how to pull it down and test it. I can check the code however, and since the only problem was the CultureInfo, and you've fixed that, it must work.

Thank you very much!

[2018-01-15 20:31] dougdellolio commented on #50
@JensKDK released with v1.0.9. Should appear in NuGet shortly. Feel free to open up another issue if its still not working (fingers crossed!)

[2018-01-15 20:31] #50 closed

[2018-01-15 20:47] JensKDK commented on #50
@dougdellolio

Tested! I works perfectly! :-)

Thank you very much!

[2018-01-24 19:37] Sergy93 opened #53 "Account.Id is not the same type as the parameter for other calls"
I've found that each instance of Account in AccountsService.GetAllAccountsAsync() has an Id of type "Guid", but the account methods like GetAccountHistoryAsync() expect an int for the Id instead of a Guid.

[2018-01-25 01:05] mamohanc opened #54 "Issue with GTT(Good Till Canceled)"
I encountered the following :
1) The GTT order is not canceled, even though I have specified the parameter as GTT, and timeinforce "min"
2) Unlike the UI, limit buy orders are not canceled(rejected) when placed "at a greater than current price"  through the API. rather they turn into "fees charging" orders, and get fullfilled.
3) Also when a limit order is placed, the status of the order(based on

[2018-01-25 01:43] dougdellolio commented on #53
yeah... its inconsistent as its `string` in some places and `guid` in others. I believe this is elsewhere too. Should come up with a standard way and stick to it.... im thinking using Guid.

[2018-01-25 02:43] jonnii commented on #53
🌞 🏖 🍸 🌭

[2018-01-25 18:35] dougdellolio commented on #54
@mamohanc my responses below

For limit orders that are GTT, all you need to do is specify the DateTime you want the order to be cancelled (https://github.com/dougdellolio/gdax-csharp/blob/master/GDAXClient/Services/Orders/OrdersService.cs#L87). If you are referring to setting the cancel date to `DateTime.MinValue`, the date of 1/1/0001 12:00:00AM will be returned so the order will never be cancel

[2018-01-27 22:27] mamohanc commented on #54
That was pretty quick response
1) **The GTT order is not canceled, even though I have specified the parameter as GTT, and timeinforce "min"**

For limit orders that are GTT, all you need to do is specify the DateTime you want the order to be cancelled (https://github.com/dougdellolio/gdax-csharp/blob/master/GDAXClient/Services/Orders/OrdersService.cs#L87). If you are referring to setting the cance

[2018-01-28 03:00] dougdellolio commented on #54
@mamohanc some responses for you

1. Ahh this is a bug, nice catch :) The original interpretation was passing in an actual date when really you are given three choices - minute, hour, day. I have added a fix to this PR here: https://github.com/dougdellolio/gdax-csharp/pull/57 please try it out and let me know if you agree with it/if it works for you. Instead of a date you pass in an enum of min, h

[2018-01-28 15:15] linpiero opened #58 "stop order"
Hello,
is it possible to add the possibility of adding a stop order?
Thank you

[2018-01-28 18:17] dougdellolio commented on #58
yes. I am planning to add this very soon. I will leave this issue open until its added.

thanks

[2018-01-29 09:35] linpiero commented on #58
Thanks to you!!

[2018-01-29 18:11] nadasurf2 commented on #54
Just chiming in on #2, I'm seeing the same behavior on the live servers too. I'm not talented enough to offer up a suggested fix however
But on another note, thanks for your work on this. it's been great

[2018-01-30 00:45] dougdellolio commented on #54
@nadasurf2 thanks!

there is a fix in PR #57. Will merge and release shortly

[2018-01-30 03:39] dougdellolio commented on #54
all fixed with v1.10 - please update. feel free to open another issue if you find anything wrong. closing this for now

[2018-01-30 03:39] #54 closed

[2018-01-30 14:34] nadasurf2 commented on #54
Thanks Doug, although not necessarily a bug, now when calling PlaceLimitOrderAsync in v1.10 with PowerShell you get error

Multiple ambiguous overloads found for "PlaceLimitOrderAsync" and the argument count: "6"

I’ve done some searching and I’m not really sure there’s a way around it

From: Doug Dellolio<mailto:notifications@github.com>
Sent: Monday, January 29, 2018 10:39 PM
To: dougdellolio/gd

[2018-01-31 00:33] dougdellolio commented on #54
sounds like it's not sure which method to choose? maybe try explicitly setting the default parameters.

so if you were using this one: https://github.com/dougdellolio/gdax-csharp/blob/master/GDAXClient/Services/Orders/OrdersService.cs#L54

you can do something like

`.PlaceLimitOrderAsync(OrderSide.Buy, ProductType.BtcUsd, 1, 12000, TimeInForce.Gtc, true)`

[2018-01-31 11:14] kawonekrypto opened #59 "GetTrades"
Hello,

first of all thanks for this library :)

Any reason on why the getTrade method has not been implemented?
https://docs.gdax.com/#get-trades

Thanks,
K.

[2018-01-31 13:49] kawonekrypto commented on #59
I see, maybe that would break the logic of the API? For real time updates you will need to keep the pageID for further requests.

[2018-01-31 15:53] dougdellolio commented on #59
@kawonekrypto Just haven’t gotten around to it yet. Paging is already supported in this library so it won’t be too bad to implement. If you find you want to contribute, feel free to give it a shot otherwise I will get to it soon :)

[2018-01-31 16:56] jerdnanam opened #60 "Post only limit order"
Hello,

function PlaceLimitOrderAsync has postOnly attribute, but actually it is not used inside function, also it is not a part of GDAXClient.Services.Orders.Models.Order class. So post only flag does not work. Can you please implement this flag?

Thank you.

[2018-02-01 00:09] dougdellolio commented on #60
Yes, this needs to be fixed. Feel free to take a shot at this and open a pull request, otherwise I can pick it up when I get a chance

thanks!

[2018-02-01 05:13] yoboto commented on #60
ahh that might explain why some of my recent limit orders have went through as "market" orders and been charged a fee?

Anyway, just signed up here to say a big thanks for this awesome library dougdellolio, i lack any web development skills, or json etc and would not be able to link up with GDAX in my program without your library.

Thanks again!

[2018-02-03 17:26] kawonekrypto commented on #59
@dougdellolio Correct me if I am wrong, pagination has been implemented to make the requests on all pages up to be done.
For my needs, I modified the request to just get back the first to limit my requests on Gdax API.

 // This is the same method than SendHttpRequestMessagePagedAsync<T> without the request for the potential other pages
        protected async Task<IList<IList<T>>> SendHttpRequest

[2018-02-03 18:16] dougdellolio commented on #59
@kawonekrypto correct. it sends a request to receive all pages and adds them to a list. what you have there looks correct if you want to get just the first page.

[2018-02-04 15:31] dougdellolio commented on #60
@yoboto yes. this is now fixed with v1.0.11. please open up another issue if the problem persists.

and thanks for the words!

[2018-02-04 15:31] #60 closed

[2018-02-04 15:31] dougdellolio commented on #58
@linpiero added with version v1.0.11. closing

[2018-02-04 15:31] #58 closed

[2018-02-04 15:43] linpiero commented on #58
THX!!!!!

[2018-02-07 10:30] RaceX58 opened #62 "StatusCode: 400, ReasonPhrase: 'Bad Request'"
Hello,

I'm trying to use this library in a WPF C# Project.

this function :
`  var gdaxClient = new GDAXClient.GDAXClient(authenticator, false);
            var orders = await gdaxClient.OrdersService.GetAllOrdersAsync(10);`

Returns me :

at this line :
`var httpResponseMessage = await httpClient.SendASync(httpRequestMessage).ConfigureAwait(false);`

I have no problem using this function:
`var p

[2018-02-08 00:53] dougdellolio commented on #62
@RaceX58
hm... its hard to say exactly where this is going wrong. i was able to try the `GetAllOrdersAsync(10)` without failure. please make sure you have the latest version v1.0.11.

Let me know if you can find where the issue is. If you would like to contribute feel free to open up a pull request.

If none of the above work then I would suggest posting some more code to see if I can help spot an

[2018-02-08 10:11] kawonekrypto opened #63 "GetAllOrdersAsync(limit) is not working in Sandbox environment"
Hello,

GetAllOrdersAsync(limit) is not working in Sandbox environment but is working in prod environment (500 internal server error). Hence I guess this is not a problem with this library but with GDax directly.

Has anyone experienced the same and maybe has found a workaround?

Thanks,
K.

[2018-02-09 00:13] dougdellolio commented on #63
yes, unfortunately the sandbox is no longer supported. haven't found any workarounds.

[2018-02-18 03:44] hondajones97 opened #65 "Include Limit Parameters in PlaceStopOrderAsync"
First of all, BIG THUMBS UP!  This project is awesome!  I'm curious as to the current ability to create Limit Stop Loss and Limit Stop Entry Orders.  Best I can tell Gdax recently(relatively) added documentation for their API concerning these.

Thanks!

[2018-02-18 22:20] dougdellolio commented on #65
Thanks! I have not added these currently but would like to have them added soon. If you would like to try contributing, feel free to open a pull request with these changes. If not - leave this issue open and I will get to them shortly :)

[2018-02-26 19:01] confessore opened #67 "price is too accurate"
`static async Task Buy()
        {
            Data.Buy = Math.Round(Data.Usd / Data.Low, 8);
            await gdaxClient.OrdersService.PlaceLimitOrderAsync(GDAXClient.Services.Orders.Models.OrderSide.Buy,
                GDAXClient.Shared.ProductType.EthUsd, Data.Buy, Data.Low);
        }`
returns
`System.Net.Http.HttpRequestException: '{"message":"price is too accurate. Smallest unit is 0.01000

[2018-02-26 19:40] #67 closed

[2018-02-26 19:41] confessore commented on #67
discovered that my market/low/high values were extending waaaaay beyond 2 decimal places.

solved the issue as a user error

[2018-02-28 03:32] #63 closed

[2018-02-28 03:32] #62 closed

[2018-03-01 18:39] chrisw000 commented on #59
Is the issue here also that the parameter numberOfPages doesn't do what it implies?

When
numberOfPages = 0 means get ALL the pages, fair enough
numberOfPages = 1, we get 2 pages back
numberOfPages = 2, we get 3 pages back

The logic is flawed in that numberOfPages is used GetAllSubsequentPages without taking into account the initial page in the list.

[2018-03-02 00:11] dougdellolio commented on #59
@chrisw000 just want to make sure this is working as expected before I close this. are you okay with me closing?

[2018-03-02 00:15] chrisw000 commented on #59
Sure… I’d managed to get confused perhaps similar to the original poster….. then thought I’d put a page size of 1 in my code… but actually typed page size of 2…

Works as expected

From: Doug Dellolio [mailto:notifications@github.com]
Sent: 02 March 2018 00:11
To: dougdellolio/gdax-csharp <gdax-csharp@noreply.github.com>
Cc: chrisw000 <chris.walters@gmail.com>; Mention <mention@noreply.github.com>

[2018-03-02 20:02] chrisw000 opened #70 "JSON attributes on Models"
**Naming Conventions**
Quite a lot of the models have naming conventions like: Base_min_size which is at odds with standard .NET naming conventions... preferable to use attributes like [JsonProperty("Base_min_size")] in order to keep .NET naming conventions and allow the JSON serialization to work correctly?

**Strong Typing**
Some properties are left as String, when they could be stronger typed.

[2018-03-03 01:11] chrisw000 opened #71 "Namespace is same as classname for GDAXClient"
Namespace is GDAXClient

Main entry class into the API is also called GDAXClient

Meaning we get usage of GDAXClient.GDAXClient

This seems to cause [ReSharper](https://www.jetbrains.com/resharper/) big problems when creating (or opening for first time) a project that references GDAXClient; resulting in endless solution error noise as the compiler blows up.

[The Framework Design Guidelines say in

[2018-03-03 04:35] confessore commented on #71
I noticed this as well but dismissed it as being insignificant.
maybe GDAXSharp.GDAXClient
as this is similar to the repository name ‘gdax-csharp’ while maintaining the same class name.

[2018-03-03 04:37] confessore commented on #71
I’m still waiting on feedback for the pull request I made concerning a migration to dotnetcore2.0 as well as a fix for the PlaceLimitOrderAsync() method. I’ll probably make this namespace change in my fork just because it really is a good idea to keep namespaces and classes uniquely named

[2018-03-03 23:20] Heraisu opened #72 "WithdrawCrypto - Guid parsing fails"
Using the NuGet build latest as of 3/3/2018 -  version 1.0.11
Responses from WithdrawlsService.WithdrawToCryptoAsync(*) come back with an InnerException where the Id component fails to parse as a GUID. I am unable to process any Crypto withdraws.  Is there any way I can see the entire response string using the existing lib?

[2018-03-03 23:45] Heraisu commented on #72
I see now that it's the INPUT parsing guid that's throwing the exception, not the response...
If that's so, that means the three parameters are a Currency type (eg BTC), a GUID for your own account, and an amount...  how are you supposed to give the address the withdraw is supposed to go to??

[2018-03-04 00:30] Heraisu commented on #72
Found the issue
:
WithdrawService.cs:68   crypto_address = new Guid(crypto_address)
Crypto.cs:11          public Guid crypto_address { get; set; }

A crypto address should not be attempted to be converted as a Guid; and the corresponding datatype should not be attempting to store it as a Guid. It should be a string, clearly.
From what I can tell, there is no way that a Crypto withdraw would work u

[2018-03-04 00:31] chrisw000 commented on #71
Yeah - on the one hand it is totally insignificant and changing it is a pain for anyone using the code....

But on the other hand - when the compiler blows its a nightmare working out what the problem really is.

[2018-03-04 00:41] Heraisu commented on #72
I have confirmed that changing those lines to:
WithdrawService.cs:68 crypto_address = (crypto_address)
Crypto.cs:11 public string crypto_address { get; set; }

Resolved the issue and finally made the withdraw work correctly.

[2018-03-04 21:27] dougdellolio commented on #72
@Heraisu I have created the fix for this here. https://github.com/dougdellolio/gdax-csharp/pull/74. If you agree with these changes I will merge and include in next release.

thanks!

[2018-03-05 00:35] dougdellolio commented on #71
agreed we should fix this at some point and am open to PRs with this 👍 either name suggestion also works for me.

[2018-03-05 00:36] dougdellolio commented on #70
yes... I have been meaning to do this but haven't gotten around to it. this would be great 😃

[2018-03-05 14:02] chrisw000 commented on #43
I guess this can be closed now?

[2018-03-05 14:42] alexandredubois commented on #43
Yeah ! Perfect

On Mon, Mar 5, 2018 at 3:02 PM, chrisw000 <notifications@github.com> wrote:

--
Alexandre DUBOIS

[2018-03-05 15:13] chrisw000 commented on #70
ok - I'll branch off from the work for #76 - so it will be done ontop of that change.

There is going to be quite a few changes - do you have any preference for how you'd prefer to look at them / merge them in?

[2018-03-05 21:18] chrisw000 commented on #70
RE "There is going to be quite a few changes - do you have any preference for how you'd prefer to look at them / merge them in?"

It's not taken very long.... so I've just done everything.... does mean there is quite a bit to review...

As I've only recently looked to use this project I don't have much code that makes use of it; therefore testing/running it has mostly relied on the test coverage.

[2018-03-06 00:35] #72 closed

[2018-03-06 01:06] dougdellolio commented on #70
thanks for your time on this @chrisw000. I left a comment on your PR. i hope it doesn't cause any extra work on your end. willing to work with you to get this in.

[2018-03-07 01:04] dougdellolio commented on #59
released with v1.0.12

[2018-03-07 01:04] #59 closed

[2018-03-07 01:05] dougdellolio commented on #71
thanks again @chrisw000 and @confessore for your work around this. going to close this now

[2018-03-07 01:05] #71 closed

[2018-03-08 11:36] chrisw000 opened #83 "GetHistoricRatesAsync - batching issue"
The batching code I wrote a few days back worked fine at the time.

The GDAX docs said (and still says) that a maximum of 350 candles can be pulled at a time.

However, running the code at the moment.... the GDAX service will not allow calls that produce >300 candles...

So need to lower the batching size....

const int maxPeriods = 300; // this seems to work today!

I'll do a PR for this at some

[2018-03-10 09:16] #83 closed

[2018-03-10 09:17] #70 closed

[2018-03-11 22:03] andyb1979 opened #85 "When requesting a large amount of historical bars, Rate Limit is exceeded"
Not surprising really but when I request historical data for "BTC-USD" with parameters CandleGranularity=Hourly and StartDate = 100 days ago, EndDate = today then the GDAX webservice responds with 'Rate limit exceeded'.

Should GDAXSharp throttle or retry after a short period or time? Or should I handle that in my own code?

I am already caching historical data just want the system to be robust

[2018-03-12 00:24] dougdellolio commented on #85
@andyb1979  i have a feeling there is a bug. if you are only calling this endpoint once then there should be no rate limit exceeded error. however if you are making this call multiple times then I would expect this error. For this call in particular, the API recommends that you shouldn't poll it frequently and to use the websocket feed for the realtime info.

i will investigate this and get back..

[2018-03-12 12:31] andyb1979 commented on #85
Hi Doug,

I'm not polling just playing around with requesting and caching historical rates. I've made a few requests today so maybe its counting the datarate to a particular client?

[2018-03-12 13:11] andyb1979 opened #86 "When requesting Historical Prices, dates are jumbled up"
I wanna get you a good + accurate bug report here but I'm seeing something wierd in ProductsService.GetHistoricalData.

Here is my code:

[code]

The response back from GDAX I debugged with Fiddler. The first bar contains Epoch 1520856000 and the last bar Epoch 1519783200.

Using the (Epoch to Time converter here](https://www.unixtimestamp.com/index.php) these translate to
from=02/28/2018 @ 2:00am

[2018-03-12 13:18] andyb1979 commented on #86
I think you can ignore -- problem might be in my code ... investigating

[2018-03-12 13:39] andyb1979 commented on #86
Yes ... I can get some sort of reproduction now. Check this out. This is my code using only GDAXSharp from NuGet v1.0.12

[code]

Console output is

[code]

Only seems to matter if the latest date is UTCNow. If you pass any historical date in the past then it seems to return the exact requested timerange.

[2018-03-12 13:53] andyb1979 commented on #86
I can workaround this on my side. Plus I dont know if its a GDAX problem or yours. Just wanted to let you know!

[2018-03-12 17:17] chrisw000 commented on #85
The rate limit is 3 calls per second to the public API endpoints... and yes, the Batching code  I wrote for the Historic call can/does exceed this.... the GDAX docs say you're allowed to burst to 6 requests per second. So if the date range you supply generates >3 or maybe >6 batches of API calls to get all the candles... you will hit the limit.

[I have some code (taken from blogs) which rate limi

[2018-03-12 17:23] andyb1979 commented on #85
I uh kinda 'solved' this with a Task.Delay of 333ms between batching
requests. Quick + dirty but it works! :)

On Mon, Mar 12, 2018 at 5:17 PM, chrisw000 <notifications@github.com> wrote:

[2018-03-12 20:22] chrisw000 commented on #86
I think the data returned is correct.... maybe the understanding is off?

The candle data from GDAX is set around the timeframe of the granularity...  rather than the timeframe of your requested range.

EG:  24 hour candles always go from 00:00 to 23:59 UTC  ( even if you ask from 01:23 etc)
6 hour candles always go from 00:00  06:00  12:00  18:00
1 hour candles always from the top of the hour
etc

[2018-03-13 00:31] dougdellolio commented on #85
@andyb1979 glad to hear it is working with a delay. @chrisw000 what was the reasoning for the batching again?

[2018-03-13 00:40] dougdellolio commented on #86
@andyb1979 thanks for reporting. i think @chrisw000 is on the money. can't speak to the reasoning why but as chris stated the api says the response may contain data that may precede the declared start value.

[2018-03-13 02:22] chrisw000 commented on #85
GDAX fail requests where the date range passed in is > "350" candles. So if you want 1 hour candles, that's a limit of 350 hours; therefore if you wanted say 1 month of data at 1 hour granularity - somewhere along the line you've got to work out how to batch that up.

I say "350" because the documentation says 350, and when I first wrote the batching code 350 worked as a batch size... but then a f

[2018-03-13 02:43] dougdellolio commented on #85
got it. i am of the opinion that we shouldn't be handling the rate limiting and that it should be up to the user. but i am open to being convinced otherwise. will close this ticket here unless any objections

[2018-03-13 11:40] andyb1979 commented on #86
Hi guys,

I did some testing and discovered that GDAX gives some spurious results

If the time is aligned to a bar, say you have hourly and you request 00:00 - 12:00 then you will receive 00:00 - 11:00 (rounds down the start, the end is exclusive)

If the time is not aligned to a bar, both sides round down, e.g. request 00:01 - 12:01 and hourly, you will receive 00:00 - 12:00

If the end time is U

[2018-03-13 11:54] chrisw000 commented on #85
Where it gets tricky at the moment is the code doesn't allow callers to pass in or make use of a CancellationTokens and there is no built in way to know which serivce calls are limited to 3 per second and which are limited to 5 per second - so rolling your own becomes harder.

Maybe a solution is to have some ability for the consumer of the code to chose, or supply their own strategy? The HTTPClie

[2018-03-13 12:31] chrisw000 commented on #86
The time on the candle bars is the start of the candle... so in your examples:

"say you have hourly and you request 00:00 - 12:00 then you will receive 00:00 - 11:00"
- this seems correct to me, the 11:00 bar contains data upto 12:00 (your end time)

"request 00:01 - 12:01 and hourly, you will receive 00:00 - 12:00"
- this also seems correct - the first 00:00 bar contains data for the 00:01 start

[2018-03-13 23:26] dougdellolio commented on #85
hm interesting idea. i just worry about making it more complicated than it needs to be. although it may allow for more flexibility. i need to think about this more

[2018-03-14 00:32] #43 closed

[2018-03-14 01:08] chrisw000 commented on #85
Have a look at the change to GDAXClient and IHttpClient here:

https://github.com/chrisw000/gdax-csharp/commit/74f1503451ae1055b810f53a034ceb1bbeef32a0#diff-c9ba790961311e6999a6a22e87b9713c

The default behavior is as its always been.

The RateLimitedHTTPClient can live outside the project if needed.

[2018-03-14 02:35] dougdellolio commented on #85
@chrisw000 to make sure we are on the same page. you are proposing to allow the user to pass in their own `HttpClient` which could give them the ability to decide the time in between calls to prevent exceeding the rate limit?

i am looking at the `RateLimitedHttpClient` in your code and trying to understand how it works with the `TimeSpanSemaphore`.  What is the limit in this case? is that the amo

[2018-03-14 09:06] chrisw000 commented on #85
If the user could pass in an HttpClient, they can then code up something to take greater control of the pipeline of requests being made.

I'm not suggesting the RateLimitedHttpClient solves all problems - I put it together specifically with the Historic data batching in mind; for this it works well... It's using a SimaphoreSlim to restrict the number of threads that can proceed on to actually call

[2018-03-14 20:38] MRK89TP opened #87 "Get current Mid Market Price"
Hi, How can i get the mid market price in real time?
I tried something like this:

List<Candle> a = (List<Candle>)await gdaxClient.ProductsService.GetHistoricRatesAsync(GDAXSharp.Shared.ProductType.BtcEur, DateTime.Now, DateTime.Now, CandleGranularity.Minutes1);
a.First().Close;

or like this:

ProductStats a = await gdaxClient.ProductsService.GetProductStatsAsync(GDAXSharp.Shared.ProductType.BtcE

[2018-03-14 21:52] chrisw000 commented on #87
Real time mid market price would have to come off the live order book... as thats live data (not historic)

So the service you'd want is ProductsService.GetProductOrderBookAsync - and you'd only need level one data...

Mid Market Price is defined in Wikipedia as being:

Therefore... this would be how to determine it:

[code]

[2018-03-14 23:25] dougdellolio commented on #87
thanks @chrisw000! what you have there looks right to me.

I would be cautious of the "real time" aspect of it as the API suggests using the websocket feed for realtime data. this is in the works

[2018-03-14 23:47] dougdellolio commented on #85
gotcha. i think this is a good idea and I see the value in it. if you feel up to adding it then lets do it 😄

[2018-03-14 23:57] chrisw000 commented on #85
OK... do you mean the just basic changes to the GDAXClient constructors...

or the whole thing... refactoring endpoints etc. ?

Happy to give the whole thing a crack.... but would probably do it in stages of pull requests:

PR1) GDAXClient constructor, interface changes
PR2) Change just one end point and put in the plumbing to allow that to get passed around
PR3) update the rest of the end points

[2018-03-15 00:08] dougdellolio commented on #85
i would say just the basic changes to the constructor. meaning give the user ability to pass in their own httpclient. if we see a greater need to refactor all the endpoints then we can take it on at that point. thoughts?

[2018-03-15 00:24] chrisw000 commented on #85
Thats cool.... less is more and all that!

[2018-03-15 10:03] chrisw000 commented on #87
For entire historical data -> no idea! Obviously the price at each exchange will be slightly different anyway.

[2018-03-16 10:03] chrisw000 opened #90 "targetting .NetStandard"
Have you got any thoughts on this?

I gave converting the projects a go - it's not all plain sailing. There are currently issues around getting the tests to run within Visual Studio. The test runner requires a pre-release version of Mono.Cecil, the tests are not auto discovered on a build - but they are discovered/run when manually running "All Tests" from test explorer.

It's also possible to hav

[2018-03-17 00:54] dougdellolio commented on #90
I would like to port this to net standard for sure. I am no rush to do this as I need to fully understand what it means and the impact it will have. If someone is using this already in their project. What does it mean to them? What changes?

[2018-03-17 11:14] mrpmorris opened #91 "GetHistoricRatesAsync returns Internal Server Error"
static void Main(string[] args)
		{
			var authenticator = new Authenticator(
				apiKey: "<redacted>",
				unsignedSignature: "<redacted>",
				passphrase: "<redacted>");
			var gdaxClient = new GDAXClient(authenticator, true);

			Task<IList<Candle>> getHistoricRatesTask = gdaxClient.ProductsService.GetHistoricRatesAsync(
				productPair: GDAXSharp.Shared.Types.ProductType.BtcUsd,
				start: Dat

[2018-03-17 13:12] dougdellolio commented on #91
@mrpmorris have you tried testing on the live server and not on the sandbox? i was able to successfully run it.

[2018-03-17 15:41] chrisw000 commented on #90
I made it multi target; net461 and .netstandard 2.0 - so for people using it today... no change at all.

There was an additional nuget dependency on System.Net.Http - you're currently using the version baked into net461 (this dependency exists because the release .netcore release of this that was supposed to version match net461 had [bugs / compatibility issues](https://github.com/dotnet/corefx/is

[2018-03-17 18:31] dougdellolio commented on #90
cool! i will have some time tomorrow to play around with this more. ill get back to you

[2018-03-17 19:28] mrpmorris commented on #91
Yes, that works. I wonder if the sandbox has a newer API?

Could this library perhaps throw exceptions if it receives error codes from the HTTP?

[2018-03-17 20:30] chrisw000 commented on #91
It should throw an HttpRequestException for that call....

Internal Server Error hints at an HTTP 500 error being thrown by the GDAX Server?

Have a look at the httpResponseMessage.StatusCode on the response coming back - or run something like Fiddler to view the network traffic to see whats happening.

I've read elsewhere that the GDAX Sandbox often just isn't working.... its probably that.

[2018-03-17 21:14] dougdellolio commented on #91
yes the last I heard the sandbox is no longer supported so I wouldn't rely on it.

the internal server error is returned from GDAX which means there was a problem with their server.

[2018-03-17 21:17] #85 closed

[2018-03-17 21:17] #38 closed

[2018-03-17 21:17] #65 closed

[2018-03-18 14:37] dougdellolio commented on #90
@chrisw000 what if you only targeted net standard and not net461?

[2018-03-19 19:41] chrisw000 commented on #90
The issue is the tests....

The tests *must* run as net461 - there is currently no netStandard Specification . VS Runner

Because the tests run as net461 - they are looking for the net461 DLL output.

Which is why I multi targetted it....

If we momentarily ignored the tests - then yeah.... the actual GDAXSharp project could just be netStandard

When multi targetting it outputs different sets of D

[2018-03-19 21:45] chrisw000 commented on #90
I've updated https://github.com/chrisw000/gdax-csharp/tree/feature/netStandard

So you don't need to delete the obj folder now...

[2018-03-20 21:01] Sotam opened #94 "Account missing/invalid field?"
I'm quite new at using GDAX API, but I've found some fields in your files that I couldn't find in the GET /Accounts. And the field `profile_id` is missing in this project.

To be precise, these are the fields that I couldn't find/retrieve from the GET /accounts
https://github.com/dougdellolio/gdax-csharp/blob/d8ec9065b1e09ddd74f55a4c607151cd51e0561b/GDAXSharp/Services/Accounts/Models/Account.cs#L2

[2018-03-20 23:26] dougdellolio commented on #94
@Sotam nice catch. it definitely is missing.... might be a new field.

i have added it in https://github.com/dougdellolio/gdax-csharp/pull/95. will merge if no objection

[2018-03-20 23:46] chrisw000 commented on #94
yeah - add missing fields - the JSON deserialization works with/without fields including errors typos etc.

can't go wrong....

[2018-03-21 07:16] Sotam commented on #94
@dougdellolio awesome, still one question left, these fields:
https://github.com/dougdellolio/gdax-csharp/blob/d8ec9065b1e09ddd74f55a4c607151cd51e0561b/GDAXSharp/Services/Accounts/Models/Account.cs#L21-L25 are not in the retrieved JSON, are those fields still used?

@chrisw000 isn't it safer to add the `JsonProperty` like `[JsonProperty("profile_id")]` for the Profile Id field? If Newtonsoft is re

[2018-03-21 21:23] MRK89TP opened #97 "Invalid API Key when GetAllAccounts"
Hi, I've generated the api key on gdax selecting all permission
![image](https://user-images.githubusercontent.com/29425006/37738045-03dfa744-2d56-11e8-8526-ac23229750f0.png)
The call to GetAllAccountsAsync returns "Invalid API Key".
But (for example) call to GetProductOrderBookAsync forks fine.

I missing something? Thanks

[2018-03-21 21:40] MRK89TP commented on #97
I'm in sandbox.

[2018-03-21 21:40] #97 closed

[2018-03-21 21:42] dougdellolio commented on #97
great.

last I tried the sandbox should still work with this call. Just make sure the ordering of the parameters you are passing in are correct.

[2018-03-22 19:56] chrisw000 commented on #94
Re [JsonProperty("profile_id")] --> the serialiser is using some settings that allow it to know about snake case namings... so it can automatically work out the something called ProfileId is profile_id on the json.

[2018-03-23 00:50] dougdellolio commented on #94
@Sotam those fields may not be used. if you can confirm feel free to open a PR with those changes

[2018-03-23 02:23] lycxy09 opened #99 "compile issue"
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1003	Syntax error, ',' expected	GDAXSharp	D:\gdax-csharp\GDAXSharp\Services\AbstractService.cs	76	Active
Error	CS1003	Syntax error, ',' expected	GDAXSharp	D:\gdax-csharp\GDAXSharp\Services\AbstractService.cs	103	Active
Error	CS0103	The name 'var' does not exist in the current context	GDAXSharp	D:\gdax-csharp\GDAXSharp\Services\A

[2018-03-23 09:53] Muleskinner opened #100 "Calling GetAllOrdersAsync with multiply statuses"
It would be great if possible to call then GetAllOrdersAsync function with a list of statuses instead of just one.

[2018-03-23 23:01] dougdellolio commented on #100
@Muleskinner this is already available just make sure you have the latest version. you can specify the `OrderStatus` when making this call. https://github.com/dougdellolio/gdax-csharp/blob/master/GDAXSharp/Services/Orders/Types/OrderStatus.cs#L8

[2018-03-23 23:03] dougdellolio commented on #99
hm.. i would try a fresh clone if you are seeing these errors. do you receive this error on build?

[2018-03-24 00:40] lycxy09 commented on #99
Yes, I use a refresh clone and got this error when I build it.

2018-03-23 18:03 GMT-05:00 Doug Dellolio <notifications@github.com>:

[2018-03-24 01:36] dougdellolio commented on #99
sounds like possibly not recognizing C#7 syntax? what IDE are you using and what version?

[2018-03-26 23:02] chrisw000 commented on #100
Just to add on this... the GDAX docs says you can pass more than one status in.... so you might want (say) Rejected & Settled (only) in one call.

I think this is could be what @Muleskinner  means here?

Currently you'd need to make 2 calls from the API (or use OrderStatus.All and process / skip over the items you don't want.

The PR would be to add an override for `GetAllOrdersAsync `that takes a

[2018-03-27 13:50] franklin770 opened #102 "client_oid"
Hi
I'm trying to submit an order using your OrdersService.cs.
I modified the func to accept  the "client_oid"

To create this I am using c# guid type
Guid client_oid = Guid.NewGuid();

The issue is that the id that is returned is not the same as the client_oid that I sent and therefore, I can’t identify the trade.

I am using the sandbox and am not using the websocket feed.

so,
Is this a sandbox

[2018-03-27 14:34] Sotam commented on #102
I assume the `client_oid` isn't retrieved correct by this library. I have almost a PR ready for this one (coding done, need to do the testing). I think there should be a `client_oid` property in `OrderResponse.cs`, not completely sure tho.

[2018-03-27 14:45] chrisw000 commented on #102
When you place or get an order it seems there is no client_oid on the response json

I'd assumed that if you want to use client_oid - you need to manage that side of it youself?

The docs talk about client_oid being seen in the websocket received feed before the order_id comes back from the original place request - so users of websocket should use received to pair up order_id and client_oid?

And

[2018-03-27 18:59] franklin770 commented on #102
Hi.
The doc mentions websocket, but it is vague. Someone on the gdax gethub said that it is ONLY on the websocket feed, so I guess I need to implement that.

Also, I  am not even sure that the sandbox has a web feed. If they do, I do not know the channel.  Please let me know what it is, if you know, since I cannot find it.

My other concern was the GUID vs the UUID.  It should be the same but I do

[2018-03-27 18:59] #102 closed

[2018-03-27 20:34] Sotam commented on #102
The sandbox has a webfeed, the channels are the same. Just change the url, and you are good to go (however, sandbox is not 100% a clone of the real GDAX)

[2018-03-28 05:46] luckicongee opened #103 "ProductService.GetHistoricRatesAsync throws InvalidOperationException when no candles"
The method `ProductService.GetHistoricRatesAsync` will throw `InvalidOperationException` when there is no candle returned from GDAX API. The cause is in the line below:

[code]

The `Last` method throws `InvalidOperationException` when the list is empty. It should use `LastOrDefault`.

[2018-03-28 18:26] chrisw000 commented on #103
You are quite right.... I'll do a PR

[2018-03-28 22:50] dougdellolio commented on #103
thanks @chrisw000. fix has been merged and will go out with next release

[2018-03-28 22:50] #103 closed

[2018-03-30 15:52] chrisw000 commented on #99
Just as a side note on this.... obviously the code builds because it compiles on Travis.... but... I did open the project in VS2015 by mistake the other day... and I got these "errors"

It's clearly a C# 7 thing..... and the answer is always on [StackOverflow](https://stackoverflow.com/questions/39461407/how-to-use-c7-with-visual-studio-2015)

I guess it wouldn't hurt to be specific about VS2017 a

[2018-03-30 16:44] chrisw000 opened #105 "Feature: Logging"
Now the codebase has pretty decent funnels which core functionality flows down... it's ripe to add in some logging.

The user story for this use case would be along the lines of "As an automated Trader risking £bundles, when I use XYZ API, if (when) it goes wrong..... I want to know why, so I can understand and fix the error."

There is a crystal clear requirement for robust logging on any API suc

[2018-03-30 17:02] dougdellolio commented on #105
this would be great! NLog is 👍

[2018-03-30 18:39] jonnii commented on #105
it is not, and an open source project shipping with a specific logger is problematic for many reasons:

1. Not everyone uses nlog (what if I use serology)
2. What if I don't use _the version of nlog you use_ (i might be on 2.x).
3. Your log levels are not my log levels

you're better off solving this by either having an interface like:

[code]

By default this is a `NullInstrumentationSink` but co

[2018-03-31 20:31] chrisw000 commented on #105
@jonnii
I hear what you're saying.... and don't agree.

on your points
1) Today there is no logging. This proposal is a Minimum Viable Product style improvement, not a final solution.
2) Use assembly redirection, or upgrade. We don't all still use COBOL and the world moves on
3) It open source. Change it then and allow flexibility via your change

I do agree that an interface would offer total fle

[2018-04-01 00:41] jonnii commented on #105
All of your points are absolutely correct, the only thing I take issue with is the assertion that "nlog is the defacto standard" which it's not. I also think it's important to have these conversations and have people contribute to the discussion ahead of an implementation, which I assume you also do as you opened an issue instead of going straight to opening a PR.

[2018-04-02 11:42] npomfret opened #108 "Is it possible to get the network transaction and address hash for crypto deposits?"

[2018-04-02 23:12] dougdellolio commented on #108
@npomfret are these things returned by the api? wouldn't be sure how to get them otherwise :/

[2018-04-03 02:13] dougdellolio commented on #105
@chrisw000  i think logging in this library would be great and offer a lot to the users. however, i don't think we should make such a change that would be majorly disruptive.

would you guys be against offering the flexibility to the user to define their logs how they want but also offer a default implementation - whatever that may be (maybe what you proposed above).  I also do happen to like Seri

[2018-04-03 09:47] npomfret commented on #108
I guess that's my question.  They're not in the documented api, but I've found an undocumented endpoint that has the data.  Cheers

[2018-04-03 09:47] #108 closed

[2018-04-05 07:16] #94 closed

[2018-04-11 23:21] BradForsythe opened #110 "Issue with placing orders hanging/no response?"
I am sure I must be doing something wrong, anyone with helpful advice would be great...
I made a simple Winform with a button to enter an order.   When the method reaches execution reaches abstractservices ... we hang / lock up at  var httpResponseMessage = await httpClient.SendASync(httpRequestMessage).ConfigureAwait(false);

I am able to make non-account calls.  I was thinking maybe the api key

[2018-04-12 00:02] dougdellolio commented on #110
@BradForsythe it looks like the initialization of the client isn't correct.

try doing this. you don't need to initialize a client or query builder because it is all done for you:

[code]

[2018-04-12 01:52] BradForsythe commented on #110
Thanks Doug for your quick response, your help is super appreciated!!   I've done the following and the response from the task is "waiting for activation" which I think is saying the task is not completing...

I've tried also to do OrderResponse respoone = ......().Result and I get the "lockup" condition.

Interestingly the other way I did it...(the wrong way) I was able to get products successful

[2018-04-12 02:15] dougdellolio commented on #110
@BradForsythe  no worries

you may have to mark the `button1_Click` as async and use await for the response

`var response1 = await gdaxClient.OrdersService.PlaceLimitOrderAsync(OrderSide.Buy, ProductType.BtcUsd, .1M, 5000.0M);`

and youre saying calling `.Result` after place order work?

[2018-04-12 02:16] BradForsythe commented on #110
EDIT -

I am making progress!
Changed button1_Click to async and applied await to the services methods (Tasks).
I am able to get the products successfully and the orders I get invalid API key which may be highly likely.

private async void button1_Click(object sender, EventArgs e)
{
            var reponse1 = await gdaxClient.OrdersService.PlaceLimitOrderAsync(OrderSide.Buy, ProductType.BtcUsd, .1

[2018-04-12 02:17] dougdellolio commented on #110
@BradForsythe great! also make sure that you give the API key permission to Trade as well when you generate the key.

[2018-04-12 02:18] BradForsythe commented on #110
Doug closing this "issue" .... user error.  Thanks for your help.   Not hanging now and the rest is probably solvable.

[2018-04-12 02:18] #110 closed

[2018-04-12 22:41] franklin770 opened #111 "nulls in Gdax ticker"
"best_bid" is **null**,
  NullValueHandling = **NullValueHandling.Ignore,**

Exception thrown: 'System.DivideByZeroException' in mscorlib.dll
Ticker-{"type":"ticker","product_id":"BCH-BTC","price":0,"open_24h":0,"volume_24h":0,"low_24h":0,"high_24h":0,"volume_30d":"289.89382751","best_bid":**null**,"best_ask":"10.98"}
Subscriptions-{"type":"subscriptions","channels":[{"name":"user","product_ids":[

[2018-04-13 00:09] franklin770 commented on #111
Hi Doug

It is on the ticker channel.
there is definitely an exception being thrown

You have NullValueHandling.Ignore set,   so it  is being ignored

if you add Error = HandleDeserializationError   you will catch it.

private static JsonSerializerSettings SerializerSettings { get; } = new
JsonSerializerSettings
        {
            FloatParseHandling = FloatParseHandling.Decimal,
            Nul

[2018-04-13 00:11] franklin770 commented on #111
yes I am using user, and ticker channel

On Thu, Apr 12, 2018 at 8:09 PM, Avi Franklin <srdinc@gmail.com> wrote:

[2018-04-13 01:18] franklin770 commented on #111
Hi Doug.

I am doing math and the  DivideByZeroException that I was getting is also
on  my side.
I mistakenly thought that the   DivideByZeroException that is being thrown
in the websocket was the cause

Thanks for replying

Regards

On Thu, Apr 12, 2018 at 8:20 PM, Doug Dellolio <notifications@github.com>
wrote:

[2018-04-13 01:42] dougdellolio commented on #111
glad its fixed 😄 will close this.

[2018-04-13 01:42] #111 closed

[2018-04-13 02:00] franklin770 commented on #111
Thx.

That's the problem with using the stupid sandbox. The prices are all off
from the actual production prices, and it returns 0 for bid/ask etc.

I have to move to the realtime but my code is not there yet

On Thu, Apr 12, 2018 at 9:42 PM, Doug Dellolio <notifications@github.com>
wrote:

[2018-04-14 03:24] #91 closed

[2018-04-14 20:35] BradForsythe commented on #105
Logging is totally needed for those of us who are running hundreds (maybe tens!)  of algo's and need to troubleshoot or optimize order chains.

One very important area to instrument with whatever logging you implement is the websocket connection and feeds.   I implemented my own websocket interface because my connections are long running(continuous) and GDAX sometimes stalls, connection sometimes

[2018-04-17 20:07] BradForsythe opened #114 "Websocket cleanup"
Doug, just looking at using your websocket interface instead of my own since it's a lot cleaner and nicely integrated.   A few comments/notes for consideration...
1.  Your public control interface is Start/Stop.  Start will authenticate and request subscriptions.  Great!  Stop looks like the socket closes but technically speaking we are still subscribed.  You may want to consider an unsubscribe th

[2018-04-17 20:13] Sotam commented on #114
You are both right about the first and second one. I should've looked more careful when implementing the web socket feed. Currently it also not possible to subscribe to new channels while you've already started the web socket feed. Will try take a look in the next few days :)

And about the last one, also something nice to have. Not really difficult to add, @dougdellolio please let me know you thi

[2018-04-17 23:42] dougdellolio commented on #114
@BradForsythe thanks for the feedback. i am in the process of doing some refactoring separate of the points you have provided and will have a PR shortly.

@Sotam if you're up for it  please do!

[2018-04-18 02:58] BradForsythe commented on #114
Awesome.   While you are looking at the feed, you may want to consider adding to your OrderTypes  Order life cycle for standard orders go through received, open, match, then done.   You have some of the handlers for these but not the types.   Really, just open and done are about all you need on an order that was accepted by the matching engine.  The rest are just to be complete.

[2018-04-18 03:34] BradForsythe commented on #114
Also....  :) ....  On your Ticker channel response (websocket) you are returning the GDAX string typed product ID  i.e.  :"BTC-USD" and not your product type.   No biggie, but it would be nice to have an enum extension to reverse lookup the product ID given the EnumMember attribute.

Like:   ProductType pt = EnumMemberDictionary<ProductType>.GetValue(e.LastOrder.ProductId);

First time it is calle

[2018-04-18 06:12] Sotam commented on #114
If I understand you correctly (@BradForsythe), such a dictionary is not necessary. Newtonsoft's JSON can easily convert (not sure if there is a difference in performance). So changing `string` to `ProductType` should be enough, will add it in the next commit 😄

E.g.
https://github.com/dougdellolio/gdax-csharp/blob/d24408d88f27f933d43595864cc352d1b4600cf8/GDAXSharp/WebSocket/Models/Response/Heartbe

[2018-04-18 21:14] chrisw000 commented on #105
@dougdellolio  - been away... back now....

If we're wanting total flexibility ( with a default implementation and/or sample configs etc. ) - then really this is ultimately what @jonnii  was saying.

In which case.... it does need some direction in terms of the preferred implementation route.

[2018-04-19 23:17] dougdellolio commented on #114
no worries @BradForsythe. If you feel up to contributing, please do as it may benefit others too otherwise I can get to some of these things soon

[2018-04-20 13:13] dougdellolio commented on #105
@chrisw000 fair enough. I think i would prefer serilog

[2018-04-20 13:37] BradForsythe commented on #114
No problem, I'd be happy to do.  I'll add in some handlers first.   That's pretty straightforward and then sort out the unsubscribing on socket close.

[2018-04-21 19:27] BradForsythe commented on #114
After a bit of "Git pain/learning" (I am more experienced with SVN)  and  realizing each time I commit the changes are pushed with the PR even work in progress commits.   Maybe I'll read the instruction manual.  :)

I updated the WebSocket to include public handlers for the OnClose, OnOpen and OnError events.   Also I added an Unsubcribe on closing the socket.   Note:  the tests for OnClose are no

[2018-04-24 15:57] tritao commented on #90
We'd also like to use this library on .NET Core, would be great to this upstream.

[2018-04-26 13:47] BradForsythe commented on #114
features added (#115)

[2018-04-26 13:47] #114 closed

[2018-04-28 22:48] GITMIKRO opened #118 "Getting Started"
Thank you for what I understand to be a fantastic resource.

I am struggling to just get off the ground here and hoping to get assistance with the most basic example for 2 tasks.

1. I want a winform to update with the current bid and ask for BTC-USD. (Websocket or Rest example is fine)
2. The simplest syntax for a function to submit a limit order for BTC.

If I have this, I can run from there.

I

[2018-04-29 00:05] dougdellolio commented on #118
@GITMIKRO To start... you will have to new up a new gdax client with your credentials which can be found here for the live server https://www.gdax.com/settings/api or https://public.sandbox.gdax.com/settings/api for sandbox.

[code]

for getting the best bid/ask:

if you want to go the REST route it looks like https://docs.gdax.com/#get-product-ticker is what you want. You can call that endpoint b

[2018-04-29 01:01] GITMIKRO commented on #118
Doug, Thank you for your reply.

I did see most of what you suggested in the documentation, but setting it all up with the correct functions and calls to have my form update with the events using websockets is where I get upside down.  I'll keep trying different things until I get a simple test to work.

I already have the api keys that I need, but I did not think these were necessary for the publ

[2018-04-29 01:26] dougdellolio commented on #118
@GITMIKRO no worries. please provide code and i would be happy to take a look and help

[2018-04-29 04:33] GITMIKRO commented on #118
@dougdellolio Here's where I am:
[code]

[2018-04-29 15:52] dougdellolio commented on #118
@GITMIKRO it looks like the channel you want to subscribe to is the ticker channel: https://docs.gdax.com/#the-code-classprettyprinttickercode-channel

here is some code I threw together to print out the best bid and ask from the ticker channel. the event update happens when an order goes through

[code]

[2018-04-29 16:57] GITMIKRO commented on #118
@dougdellolio That was exactly what I needed to get me going. I cannot thank you enough for helping me out.

[2018-04-29 17:01] GITMIKRO commented on #118
@dougdellolio Do I need to send webSocket.Stop(); on program close, or will it just die?  Thx.

[2018-04-30 15:30] ElanHasson opened #119 "[Question] Use UnAuthenticated Websocket feed"
How can I access the public web socket feed?

[2018-04-30 16:34] dougdellolio commented on #119
it is actually not possible currently as it lives on the GDAXClient. I can add this ability shortly.

[2018-04-30 16:43] BradForsythe commented on #119
@dougdellolio  while your at it....do you want to add in the ability to unsubscribe/add subscription/remove subscription while your at it?  or do you want me to do a PR for that feature?   No problem either way... :)

[2018-04-30 17:25] ElanHasson commented on #119
Oh yes please do.

On Mon, Apr 30, 2018, 12:43 PM Brad Forsythe <notifications@github.com>
wrote:

[2018-04-30 19:51] dougdellolio commented on #119
@BradForsythe that should go in a separate PR. Feel free to take it on if not I can get to it after I add this.

[2018-05-01 01:01] BradForsythe commented on #119
@dougdellolio ok cool.   I'll wait for your release.

[2018-05-02 02:51] BradForsythe opened #121 "[BUG] Invalid Stop Limit Exception on Standard Limit and Market Orders"
Now when entering Limit or Market Orders are entered, an exception is thrown for "invalid stop price" .   I haven't changed my interface but maybe something else has changed when I moved to the latest merge after the Stop Limit Orders were added.   I'll see what I can troubleshoot, just wondering if anyone else has seen this with market or limit orders on the latest release.

[2018-05-02 03:12] BradForsythe commented on #121
Update:  Looks like even for Limit or Market orders Stop Type is being defaulted to "loss" with a stop price of 0.   By GDAX specification the stop price will be used only when stop type is defined.   Hence the exception of invalid stop price of 0.   I need to revert back tonight and dig in a little tomorrow.   I had 175 orders rejected while I was out to dinner!  Probably all bad orders anyway ..

[2018-05-02 10:29] dougdellolio commented on #121
@BradForsythe apologies. i should be more careful when reviewing additions to Order service. i am reverting that PR for now until I can get a fix in

[2018-05-02 10:48] dougdellolio commented on #121
Reverted the change and released in v1.0.17. Will be able to add it back properly tonight. 😞

[2018-05-02 11:16] BradForsythe commented on #121
@dougdellolio no worries, it was a quick find.

[2018-05-02 14:35] BradForsythe commented on #121
Something interesting did come out of this.   When an order is entered GDAX usually responds  *politely* with a "rejected" status and a reason,   Such as "post only", or "service not available".   But when an invalid stop price is encountered an exception is caught in  SendHttpRequestMessageAsync and thrown.   Might be nice to handle the exception at the SendServiceCall and return an appropriate s

[2018-05-02 14:37] BradForsythe commented on #121
@dougdellolio reverted back, issue is solved.

[2018-05-02 14:37] #121 closed

[2018-05-04 01:03] dougdellolio commented on #119
@ElanHasson i have merged this here https://github.com/dougdellolio/gdax-csharp/pull/120. let me know if you have any questions/problems with it. otherwise it will go out with next release. thx!

[2018-05-04 01:03] #119 closed

[2018-05-08 02:03] GITMIKRO opened #123 "WithdrawToCryptoAsync Exception"
[code]
The above returns the following:
 GDAXSharp.Exceptions.GDAXSharpHttpException: Invalid scope
   at GDAXSharp.Services.AbstractService.<SendHttpRequestMessageAsync>d__3.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleN

[2018-05-08 05:14] Sotam commented on #123
I guess the problem is the sandbox.

[2018-05-08 15:41] GITMIKRO commented on #123
I will test on the live API and update here with my results.

[2018-05-08 16:54] GITMIKRO commented on #123
Thank you @Sotam , you were correct. Apparently, the sandbox method through the wrapper does not seem to have the capability to emulate a withdrawal.  I used the live API for a test, and now I am having a different issue.  Seems that the CB-2FA-TOKEN header is required, although GDAX is specific on their website (and within their API docs) that when creating the API keys, the Transfer Permissions

[2018-05-09 00:53] #53 closed

[2018-05-09 00:53] #99 closed

[2018-05-09 02:13] dougdellolio commented on #123
this is a weird one....i would think checking that box would bypass the 2FA but it isn't.

I was able to get this to work by adding the header manually here with my 2FA code:
https://github.com/dougdellolio/gdax-csharp/blob/master/GDAXSharp/Network/HttpRequest/HttpRequestMessageService.cs#L59

i did something like this:
`httpRequestMessage.Headers.Add("CB-2FA-Token", "<2FAcode>");`

the code chang

[2018-05-09 02:26] GITMIKRO commented on #123
ok Thx.

[2018-05-09 08:10] abharath27 opened #124 "Support the ability to specify "funds" field when placing market orders"
PlaceMarketOrderAsync currently doesn't support the ability to specify the amount of USD you want to use to buy crypto. I was planning on writing an app that places a market order every week using a fixed USD amount (A).
As a workaround, I'm getting the ticker price (P) of crypto  and placing an order of size A/P.

[2018-05-09 14:06] BradForsythe commented on #123
I saw the same problem, it seems that GDAX is not allowing fund transfers without 2FA regardless of their check box.

[2018-05-10 00:19] dougdellolio commented on #123
that was the response I received (surprisingly fast) so try it out now and see if it works. they also mentioned to try generating a new key if you're using an older one from last month. let me know

[2018-05-10 00:47] dougdellolio commented on #124
@abharath27 thanks for the request. i have added this here: https://github.com/dougdellolio/gdax-csharp/pull/125. Let me know if you see any problem with it otherwise I will merge and push with next release.

[2018-05-11 03:27] GITMIKRO commented on #123
@dougdellolio
@BradForsythe
This worked on the first try. Didn't need to gen a new key.
Thx!

[2018-05-12 19:32] chrisw000 commented on #90
@doug - sorry... I've been totally inactive for a while, stuff has cropped up.

The only issue when I setup what I did previously was that the test project cannot reliably be converted to .Net Standard.

The problem is out of our hands in that the problem is due to a dll dependency required for the mocking / test / testrunners

I'll try and take a look and see if the project that supplies that dll

[2018-05-12 21:35] chrisw000 commented on #90
OK - so I've updated the branch to catch up with upstream/master.

Also, the dependency that was in beta has now been released.... so that part it good.

The visual studio runner for mspec still only works with net46 - so it can't see the tests when just targeting netStandard....

But, when I check the branch in, travis runs, builds .netStandard2.0 and runs all the tests, which work.

So the remai

[2018-05-13 02:13] chrisw000 commented on #90
I've just been looking at the code for the vs test runner, there is a bunch of conditional compilation for .net core vs .net46, in the area of code where its looking for the tests - presumably some work is required here so it can find the tests for netStandard.

Given that the console runner can identify the tests, I suppose it would be possible to borrow from the console runner codebase and fix t

[2018-05-13 21:32] chrisw000 commented on #90
Hmmm.... it was 3am when I finished up last night.... looking at it today.... the console runner actually says:

Contexts: 0, Specifications: 0, Time: 0.21 seconds

back to the drawing board...

[2018-05-13 22:28] jonnii commented on #90
@chrisw000 try the following package combo:

[code]

Long term you'd want to have a single csproj (in the new format) which outputs net461 and netstandard (i'd do 2.0 because i'm lazy). The tests should target netcoreapp2.0 and net461 - you can do this by doing something like `<TargetFrameworks>net461;netcoreapp2.0</TargetFrameworks>` (note that it's plural).

[2018-05-13 22:29] jonnii commented on #90
This also works with newer versions of the above packages, i'd probably target the latest test sdk, which I think is 15.7?

[2018-05-14 09:01] chrisw000 commented on #90
@jonnii - Excellent!

I was targeting these:
[code]

and netStandard2.0

The magic ingredient was changing the tests to target `netcoreapp2.0`

Tests are now appearing in Visual Studio..... many thanks.

[2018-05-14 12:13] jonnii commented on #90
With the new csproj format transitive dependencies work properly, so you can remove the cecil reference and things should work fine. Try changing the TargetFrameworks to include net461 along with netcoreapp2.0 just to make sure.

[2018-05-14 14:26] chrisw000 commented on #90
I've currently got it working as:

* single csproj (in the new format) which outputs net461;netstandard1.3;netstandard2.0
* tests target net461;netcoreapp2.0

The net461 build references the shipped 461 framework version of System.Net.Http

The netStandard1.3 build references the nuget 4.3.3 version of System.Net.Http

(The netStandard2.0 automatically picks up 4.3.3 version of System.Net.Http)

@

[2018-05-14 16:16] chrisw000 commented on #90
[Travis logs here](https://travis-ci.org/chrisw000/gdax-csharp/builds/378763504)

**travis tests on net461**
`mono packages/machine.specifications.runner.console/0.9.3/tools/mspec.exe ./GDAXSharp.Specs/bin/Release/net461/GDAXSharp.Specs.dll`

- this finds / runs and passes the tests in the net461 dll

**travis tests on netcoreapp2.0**
`mono packages/machine.specifications.runner.console/0.9.3/tool

[2018-05-14 17:02] chrisw000 commented on #90
and finally...
targeting GDAXSharp to netStandard1.3 (only)
tests to net461 (only)

tests work in Visual Studio
tests work on Travis

There is only netStandard1.3 output for GDAXSharp

This can be referenced just fine from a net461 project **but there is a dependency on System.Net.Http that needs to be manually added via NuGet --> for users of the source code**

......hence asking about targeting

[2018-05-14 18:45] jonnii commented on #90
So the conventional wisdom is to target the lowest netstandard that you can get away with but in my experience this leads to headaches. For example, if you target `netstandard1.3` and reference this from net461 _using the old csproj file format_ (e.g. not dotnet cli) you'll bring in the netstandard meta package which will mean you'll reference each individual `System.*` package. The solution to th

[2018-05-15 00:08] dougdellolio commented on #90
@chrisw000 i appreciate your time on this. I wish I could offer some better answers to your questions 😢 would it be worth switching away from Travis and looking at another tool, possibly Appveyor? If Travis is giving you problems.

thx @jonnii for chiming in

[2018-05-15 00:13] BradForsythe opened #129 "[Feature] Ability to add and remove subscriptions on the fly"
It's useful on occasion to add/remove a subscription on the fly without having to close and reopen the socket with a new subscription list.   Example: let's say you are subscribing to BTC-USD and LTC-USD.   If your BTC book is out of date or Gdax drops on of the product subscriptions (it happens...),  it would be good to be able to "remove" and "add" just the one subscription.   Especially if you

[2018-05-15 00:41] dougdellolio commented on #129
@BradForsythe cant believe gdax drops product subscriptions randomly........ would this just give the user the ability to remove and add subscriptions manually or can we also build it to do this automatically (giving the user the option)? it would also check if the book is out dated automatically and re-subscribe

sounds good to me!

[2018-05-15 00:56] chrisw000 commented on #90
Progress!

https://travis-ci.org/chrisw000/gdax-csharp/builds/378997801
is building net461 / netStandard2.0

*AND* I'm now running net461 and netcoreapp2.0 tests - with all tests passing for each DLL

Its still failing the build - but I know why....

[2018-05-15 03:52] BradForsythe commented on #129
@dougdellolio   That's a good idea to auto re-subscribe (as an option).    I currently do this outside of GDAXSharp, since I  am watching for feed loss and the status of my L2 mini book .    We can monitor feed status inside of GDAXSharp and auto re-subscribe, that could be cool, but there isn't an L2book inside of GDAXSharp  (right?) ?   An L2book might be a nice feature addition for a later upda

[2018-05-15 11:34] dougdellolio commented on #129
you can view a snapshot of L2 orderbook by subscribing to Level2 channel type and the `OnSnapShotReceived` eventhandler. or are you referring to something else when you say it being inside this library?

the order failure bit sounds like it could be app specific

[2018-05-15 14:04] BradForsythe commented on #129
Right, subscribe to L2 channel, get the snapshot (which for BTC maybe 30k+ bids / 30k+ asks), then consume the L2updates and apply to *your own* product level book (order book).    Keeping the full book involves searching *your book* to know where to apply the L2update.  This burns a lot of clock cycles (even with clever searching) and then times it by the number of products you have.   Alternativ

[2018-05-23 18:20] BradForsythe commented on #129
Still planning on getting back to this....in the middle of some other things for a week or so...

[2018-05-23 23:04] chrisw000 commented on #105
ok... I've looked at Serilog now...

As I use NLog everywhere I've been motivated to also look for a proxy logging solution.... ( that doesn't require users to implement their own provider to a sink interface)

Long story short - the 3 popular proxy logging solutions I looked at each have issues which make them nonviable at least today...

So I'll concede defeat and just do something for Serilog.

[2018-05-25 23:27] #90 closed

[2018-05-26 13:35] guanm326 opened #131 "Websocket Read Error"
[code]

While running my application, I am getting the above error on the incoming contents from GDAX. I've experienced this before in other languages that also connect to GDAX websocket stream. I was wondering what is the best way to potentially work around it?

For my code, I am simply subscribing to both match and level2 channels.

Thanks,
Mike

[2018-05-26 13:58] dougdellolio commented on #131
does this happen for the entire connection? may be able to just watch for the closed connection and calling `Start` again on the Websocket.

this also may be related to #129. @BradForsythe have you seen this? I know you mentioned that they just drop subscriptions randomly too...

[2018-05-26 14:09] michaelguan326 commented on #131
How do you differentiate between the entire connection verses the closed one? Or am I misunderstanding the question? I don't currently know what type of incorrect data is sent to me but I do agree that it may simply be a matter of me re-subscribing to the feed again.

I've definitely seen GDAX dropping packets. There are situations (in my python code base) where after some time, level2 updates for

[2018-05-27 20:58] dougdellolio commented on #131
i haven't tried this but maybe have something around the `OnWebSocketError` or `OnWebSocketClose` eventhandlers.

i think re-subscribing might be the way for now. that implementation will be built in shortly. can keep this issue open until it is added.

[2018-05-29 00:52] BradForsythe commented on #131
I haven't seen this specific error "Unable to read data from the transport connection,,,"   I have seen Level2 updates freeze, I have seen connections forcibly closed by GDAX, but this seems like your host machine closed the connection.   In my case, I monitor and then close and restart the socket.   In your error, I think @dougdellolio suggestion should work, create your handler for the OnWebSock

[2018-05-29 15:02] olegboksner commented on #118
Hi can you provide a sample of returning the data from the event subscribed as apposed to just writing it the console, what is the best method to do this
thanks

[2018-05-29 18:12] michaelguan326 commented on #131
Thanks for the answers. I have since modified the error handling both of my application side and on the Websocket side. I will let it run to see if I get any more errors.

On another note, I have been subscribing to the both "Match" and "Level2" channels. As the websocket receives messages via "WebSocket_MessageReceived", I have received a "Change" Message that is not one of the handled ResponseTy

[2018-05-29 19:28] BradForsythe commented on #131
@michaelguan326,  I don't use the full channel.   I use L2, ticker channel and user channels to keep order book, matched trades and my order status.   I don't see "change" messages.

Seems like change message occurs when the self-trade preservation changes your size...maybe this message is happening even if you are not subscribed to the full channel?

Probably should look to see why you are gettin

[2018-05-29 20:59] chrisw000 commented on #131
Just to add.... on the original error text:

"Unable to read data from the transport connection: An established connection was aborted by the software in your host machine."

The text comes from the Windows subsystem; error: **WSAECONNABORTED** It is referring to the server side of the connection when it says "host".

However, the cause of the abort doesn't *HAVE* to be down to the actual server a

[2018-05-29 21:04] chrisw000 commented on #131
@dougdellolio re
....ResponseType which in turn caused an exception in the switch statement within web socket method "WebSocket_MessageReceived":

`System.ArgumentOutOfRangeException: 'Specified argument was out of the range of valid values.'`

The GDAX Docs says this:

So the code shouldn't throw an exception here when it gets a message it doesn't know what to do with.... it should ignore the mes

[2018-05-29 21:56] BradForsythe commented on #131
@chrisw000   good catch on the GDAX docs.     I agree, we should ignore or add a handler for messages that aren't supported, instead of throwing an exception.

The "change" message would occur if you subscribe to User channel and you are trying to trade against yourself.

Also, the "activate" message needs to be supported for stop orders.

[2018-05-30 20:13] olegboksner commented on #118
Hi Doug,
I see now, thanks very much
webSocket.OnTickerReceived += (WebSocket_OnTickerReceived, args) =>
            {
                Console.WriteLine(args.LastOrder.ProductId.ToString() + " : Price:" + args.LastOrder.Price.ToString());

                 Product = args.LastOrder.ProductId.ToString();

                  threadsafemethod( Product );

  }

I then call a method which checks for thre

[2018-05-30 23:16] dougdellolio commented on #131
ill take a look at this. agreed that it shouldn't throw an exception. now that we have logging we can log it and move forward.

[2018-05-30 23:47] #105 closed

[2018-06-01 02:46] #124 closed

[2018-06-01 16:28] olegboksner commented on #118
Hi Doug,
Im a bit confused on the channel and level2
Im just looking for a stream of bid and asks
but the gdax instructions point to level2 and then snapshot or update
so I set my channel to
 var channels = new List<ChannelType>() { ChannelType.Level2 };
since there is no Snapshot channel
then hook up  to:
 webSocket.OnSnapShotReceived += (WebSocket_OnLevel2UpdateReceived_Snapshot, args) =>
Im get

[2018-06-01 16:30] olegboksner commented on #118
im looking for this output ex:

{
    "type": "snapshot",
    "product_id": "BTC-EUR",
    "bids": [["6500.11", "0.45054140"]],
    "asks": [["6500.15", "0.57753524"]]
}

[2018-06-01 16:32] olegboksner commented on #118
also the even handler I set for the abvoe is :+1: : private static void WebSocket_OnLevel2UpdateReceived_Snapshot(object sender, WebfeedEventArgs<Snapshot> e)

[2018-06-01 16:32] olegboksner commented on #118
private static void WebSocket_OnLevel2UpdateReceived_Snapshot(object sender, WebfeedEventArgs<Snapshot> e)

[2018-06-01 20:00] dougdellolio commented on #118
@olegboksner it sounds like you are looking at the right channel.....level2 is what you want.

The way this channel works is it will send a message with "snapshot" type and the corresponding bids and asks are returned. These are the bids and asks you are getting from max to 0.

Anything after that will send you l2update type which has the side, price and size.

The output you pasted is all deseria

[2018-06-03 01:15] mscheetz opened #134 "GetTradesAsync not working"
As the title says. When i run, it keeps returning that i've exceeded my request limit.

[2018-06-03 14:16] dougdellolio commented on #134
hi @mscheetz can you provide the exact call you are making that is causing this error?

[2018-06-03 15:36] chrisw000 commented on #134
GetTradesAsync can throw this error for the same sort of reason the Historic Candles can... and infact any of the paged result sets can (the ones that call into `SendHttpRequestMessagePagedAsync`

https://docs.gdax.com/#rate-limits says 3 API calls per second, per IP

When it loops and re-calls the API for next page, it's quite possible to hit the rate limit.

[2018-06-04 01:01] dougdellolio commented on #134
yup that is definitely it. might need to request fewer pages

[2018-06-05 20:59] olegboksner commented on #118
OK thanks Doug, I'm basically doing same, and seeing same results looping through all the Bids and Asks, initially was not sure of the results or as to why I need all bids( to zero) and ask's from current to infinite .

[2018-06-06 15:43] guanm326 commented on #134
So just to confirm, GetOrderByIdAsync is not paged so I can make as many calls as I want? What about PlaceLimitOrderAsync? Is there a rate-limit on the number of order placement/order cancellation per second?

If GetOrderByIdAsync is not rate limited, one could just focus on maintaining up to date their order status. From there you can determine when your orders will be filled and create internal

[2018-06-06 17:31] dougdellolio commented on #134
All requests are rate limited. You can see those limits here: https://docs.gdax.com/#rate-limits

The  requests that have a paged response(like GetTradesAsync) will make multiple subsequent calls to get all of the pages. So if you are asking for too many pages it will complain. Since you didn’t provide in your example call above it’s going to try and get all pages (probably many) which is why I su

[2018-06-10 03:38] #86 closed

[2018-06-10 03:38] #87 closed

[2018-06-11 22:02] olegboksner commented on #118
Hi Doug, sorry one more silly question.
I have implemented all the channels authenticated via the web-socket as test case
but I am just looking for: what the rest api does
 **Get Product Order Book
Example Response for /products/BTC-USD/book Only the best bid and ask is returned.**
Level | Description
-- | --
1 | Only the best bid and ask
in a continuous stream, any more recommendations on that ?

[2018-06-11 22:12] olegboksner commented on #118
to be more specific I subscribe to level2
 var channels = new List<ChannelType>() { ChannelType.Level2 };

which event handler will give me continuous stream showing top bid and ask
snapshot event handler gives me entire order book, which I don't want and I don't want to have to call it each time

these seem to be my choices
webSocket.OnHeartbeatReceived
                webSocket.OnLastMatchReceiv

[2018-06-11 22:17] olegboksner commented on #118
would this be correct after subscribing to level2

webSocket.OnTickerReceived += (sender3, e3) =>
            {
                e3.LastOrder.BestAsk.ToString();

            };

[2018-06-12 00:17] dougdellolio commented on #118
@olegboksner no worries. my comment above does exactly what you are looking for (the 6th comment down). it will print the best bid and ask continuously using the websocket feed after every trade is made. this is using the ticker channel.

[2018-06-12 12:36] olegboksner commented on #118
thanks again, I implemented that, how would I do the same for bids and asks (continuously) on open trades that have yet to have made a trade, say for instance I wanted to trade large volumes and needed open or available bid and ask before the trade

[2018-06-12 23:33] dougdellolio commented on #118
@olegboksner I am not sure I understand what you're asking for.

If you want a streaming view of all bids and asks you should subscribe to `OnLevel2UpdateReceived` as shown in the above comment. You can then match the side and price to the updated size to get a view of what has changed. The size is the updated size at that price level, not the delta.

[2018-06-14 18:43] guanm326 opened #136 "'Websocket needs to be in the opened state. The current state is Connecting'"
I've been running with the App for about a week non-stop but today I got the following error inside the Websocket.Stop() method. Is this called when we lose internet connection?

Is there anything I can do to prevent this?

Additional info: So my program is listening to the Level2 and Match channel. The initial cause of the problem was when an level2 update came with a price level change that my i

[2018-06-15 02:46] dougdellolio commented on #136
i haven't seen this before. i don't see any reason why stop would be called if internet connection is lost. when you are restarting your program are you calling stop then? Also, logging has been recently added here now it might best to trace it using the log messages... wish I could give you a better answer.

[2018-06-15 22:21] BradForsythe commented on #136
Hi @guanm326 - The web socket doesn't really know if you lose the internet connection.  You will know quickly though as soon as you try to send something, one of the error callbacks will be thrown.   There are all kinds of keepalive strategies, one way is to expect L2 data on your channels and if you lose that assume something happened to the connection or GDAX.

Chances are when you get an L2 upd

[2018-06-19 04:39] Dulatr opened #138 "Stop-limit ArgumentOutOfRangeException"
When trying to place a stop limit order I am receiving "System.ArgumentOutOfRangeException: Argument was outside the range of accepted values". I'm not sure if this is related to your library or not, but it reports _FixedSizeReader.cs is not located to view source on current call stack frame. With the snippet of code below getting executed twice, the stop orders are placed when viewing the site bu

[2018-06-19 18:37] dougdellolio commented on #138
@Dulatr I tried placing canceling orders and placing stop orders multiple times on a net core app and can’t seem to replicate this. Do you know at what exact point in this library the error is being thrown? Could it be something in the order response perhaps? Going to keep poking at it to see what I can find...

[2018-06-19 18:55] Dulatr commented on #138
@dougdellolio I'm not sure where it's being thrown. There's no inner exception, but here are the details it's giving me. Hopefully this is useful:
[code]

[2018-06-19 23:57] dougdellolio commented on #138
@Dulatr ahh I think i may know the problem here. This is coming from the websocket feed... not the placing of orders. are you using the websocket feed?

I believe you are receiving a response type that isn't defined. I have fixed that here so that an error isn't thrown if an unknown response type is received: https://github.com/dougdellolio/gdax-csharp/pull/133

if you are using the nuget package

[2018-06-20 02:17] Dulatr commented on #138
Ah! Yes! I am using the websocket feed, if I just use the client I don't see the error! I am using the nuget package, which is great I can do that by the way, could a possible work around be to use client.productservices.gettickerpricesasync() while using a system timer? I was mainly using the websocket events for the live price data

[2018-06-20 02:35] dougdellolio commented on #138
@Dulatr I just released next version. Update the nuget package to v1.0.19 for the fix. Let me know if you still see this happening. Thanks!

[2018-06-20 03:01] Dulatr commented on #138
@dougdellolio Thanks so much! I just updated to the release, unfortunately I get a new error:
```Newtonsoft.Json.JsonReaderException: 'Could not convert string to decimal: 59866162f35ce600a4dad354. Path 'user_id', line 1, position 128.'``` But the order still appears on the site, albeit the quantity is not showing correct. Order gets posted but will entirety of funds rather that the set size.

[2018-06-20 11:48] dougdellolio commented on #138
this problem exists in the `Activate` model here https://github.com/dougdellolio/gdax-csharp/blob/master/GDAXSharp/WebSocket/Models/Response/Activate.cs#L23

you will only see this if you are subscribed to the full channel. I will have this fixed for next release. For now if you are just looking for price data I would recommend just subscribing to `Ticker` channel.

i will take a look into the sto

[2018-06-21 02:39] dougdellolio commented on #138
are your stop orders actually going through with the incorrect amounts? I notice when I place a stop order in the sandbox the open order does show the wrong amount (entire funds) but when it actually goes through the sizes/prices are as specified. might be a problem with sandbox.... i haven't tried on live servers

[2018-06-21 02:57] Dulatr commented on #138
I was testing this on live servers, so I haven't tried the sandbox on that note. Because I was testing them on the live server I wasn't letting them go through to see if it was correct or not. I will test with a small amount real quick to see.

[2018-06-21 03:00] Dulatr commented on #138
yes, that is what I am seeing. holds entire funds, executes the correct size

[2018-06-22 18:28] Steve0212a opened #139 "Support for Coinbase Pro"
Do you plan on supporting Coinbase Pro?  If so, will it be supported with this package or a new package?

Thanks.

[2018-06-22 20:19] dougdellolio commented on #139
@Steve0212a yes. the rebranding is going happen on June 29 so I would like to switch it over then. However, all previous nuget packages will still be available

[2018-06-22 20:47] chrisw000 commented on #139
Just to add.... the docs say api.gdax.com will continue to work until 31 December 2018, so current/previous packages will keep working until then.

[2018-06-23 02:43] dougdellolio commented on #118
from what I can tell, there is no way to do what you are asking for based on their docs itself (as a specific request related to the websocket)

when subscribing to the level2 channel it will send a message with the type "snapshot" which will return the entire book (only once). any response after that, from `OnLevel2UpdateReceived`, is the type "l2update" which is just an update to items in the bo

[2018-06-25 00:38] Dulatr commented on #138
Very strange. When I include the client library directly without NuGet I don't have this issue anymore. Maybe it's a package version issue from dependencies? I'll keep looking to see why this issue came up, if I find out I'll let you know so others won't suffer the same fate. :]

[2018-06-25 01:03] dougdellolio commented on #138
if you are referring to `Could not convert string to decimal` its because I merged the change for that a day ago here https://github.com/dougdellolio/gdax-csharp/commit/60ffe3baf67fca8af81683bf82a34da130155479. i haven't released it to nuget yet 😃

[2018-06-25 01:13] Dulatr commented on #138
Ah! I was referring to that, very nice! Appears to be working smooth here now. Thanks again for the work done on this project

[2018-06-27 06:50] aspramsh opened #142 "Get trades stream from Web Socket."
HI @dougdellolio . I need to get trades stream from websocket. Is there some function for this? I have noticed GetTradesAsync(), but it works with API.

[2018-06-27 10:29] dougdellolio commented on #142
hi @aspramsh. If you are looking to see the latest trades I would recommend subscribing to the `Ticker` channel on the Websocket. you can view some code examples here: https://github.com/dougdellolio/gdax-csharp/issues/118

[2018-06-27 10:36] aspramsh commented on #142
Ok @dougdellolio. Thanks a lot 👍

[2018-06-29 08:11] aspramsh opened #143 "Why only specific values for ProductType enum?"
@dougdellolio Hi. I would like to know if Gdax websocket supports other pairs (the http api gives 203 pairs) than you provided in ProductType enum?

[2018-06-29 12:35] dougdellolio commented on #143
The pairs provided in ProductType are the ones provided by the `/products` endpoint which are the only currency pairs available for trading (12 of them). Is there a list from the documentation that you can provide? I can't seem to find it

[2018-06-29 12:35] #142 closed

[2018-06-29 12:39] aspramsh commented on #143
That is correct, thanks a lot and sorry for the mess.

[2018-06-29 12:39] #143 closed

[2018-06-29 17:36] olegboksner commented on #118
Hi Doug,  i did the above where I get updates to the  OnLevel2UpdateReceived,  then take that and drop it into a list and and group the last 10 updates received by size, the problem is I get updates from anywhere in the order book so the results are not the top 10 , but just last 10 updated in the order book, how to do get OnLevel2UpdateReceived to return just the TOP 5 or 10 and no items from all

[2018-07-01 22:13] dougdellolio commented on #118
@olegboksner  according to the docs, there is no way to get just the top 5 or 10 that I can find. Although as I said, I don't believe its expensive to pull the entire book and update everything and just take top 5/10. wish I could provide more help

[2018-07-04 03:45] BradForsythe opened #145 "#ODD - Json deserilizer unable to convert string "3e-7" to decimal - BCH-BTC snapshot response"
@dougdellolio have you seen exponential notation in the json response string from a snapshot rersponse?   I am getting an ask size of "3e-7" around the 30th level and the deserializer is trying to convert it to decimal.   I am not super familiar with Newtonsoft but I think this would throw an error and does.  Could I be using an older verison?   Looks like in the config you have it set to parse fl

[2018-07-04 03:49] BradForsythe commented on #145
@dougdellolio I'll move to the latest release (which I need to do sooner or later) and see if the problem still exists.  So hang tight for now....happy 4th!

[2018-07-04 13:37] dougdellolio commented on #145
weird.... yeah I just tried it and don't see it 😛 let me know if it continues to happen I can try and setup a test around it to see how it behaves.... and thx, you too!

[2018-07-04 14:48] #100 closed

[2018-07-04 14:48] #123 closed

[2018-07-05 21:04] alexhiggins732 commented on #129
This should be pretty easy to implement. The official node client shows it is a matter of sending an unsubscribe and subscribe request. https://github.com/coinbase/gdax-node#user-content-websocket-client. I will look into making a pull request for this change.

`websocket.unsubscribe({ channels: ['full'] });

websocket.subscribe({ product_ids: ['LTC-USD'], channels: ['ticker', 'user'] });`

[2018-07-06 02:18] alexhiggins732 commented on #129
Pull request submitted. https://github.com/dougdellolio/coinbasepro-csharp/pull/146

[2018-07-09 23:06] #131 closed

[2018-07-09 23:06] #134 closed

[2018-07-26 01:40] guanm326 opened #147 "Order Handling"
Hi, I have a couple of questions on how best to handle orders as they go through various status. Please let me know if there are better ways to handle the description I provide below on how I am managing orders. Thanks

Right now given my theoretical price, my algo will submit a new order with `PlaceLimitOrderAsync` method.  Once that is submitted, and I am return with a OrderResponse object, I wi

[2018-07-26 01:59] guanm326 commented on #147
Ok for `2.` I think the solution is to listen to OnMatch messages and check if the trades that are coming through have any thing relating to the order id i have.

[2018-07-26 11:51] dougdellolio commented on #147
@guanm326

There shouldn't be a problem with calling `GetOrderByIdAsync` as long as you stay within their rate limits. You can read about them here: https://docs.pro.coinbase.com/#rate-limits.

If you want to go the websocket route the `OnMatch` will let you know when a trade has occurred between two orders. But I think what you want is the `OnDoneReceieved` event to let you know when the order is

[2018-07-28 03:34] guanm326 commented on #147
Yup I think that makes sense.

With your suggestion now I have another problem I am not sure how to work around. When my theo price changing constantly I need to be able to cancel orders after a new theo price event occurs.

Right now I have no problem sending orders on a theo price change but I am not able to cancel the old orders asynchronously. For example, lets assume I receive a tick and calc

[2018-07-29 02:47] dougdellolio commented on #147
unfortunately, i dont think I would be able to provide any help on this issue. Thinking out loud, you should essentially not send another order on a subsequent tick until the previous order was received and a cancellation was requested. You should wait on the first order to actually return a cancellation response before sending a new order. This may mean missing opportunities though which may or m

[2018-07-29 20:31] guanm326 commented on #147
thanks Doug. I actually figured it out with my developer. We coalesce the theo to avoid rate limits and utilized another separate thread (with queue) to sychronized the entire process.

[2018-07-29 21:17] dougdellolio commented on #147
excellent 😄 will close this issue

[2018-07-29 21:17] #147 closed

[2018-08-08 02:04] GITMIKRO opened #148 "GetAllAccountsAsync() issue?"
@dougdellolio I have recently starting seeing a null value returned for the following, which has worked before.

`var result = await CoinbasePro.AccountsService.GetAllAccountsAsync();`

Any suggestions for what I may have missed?

[2018-08-08 07:03] atswork opened #149 "GetAllProductsAsync() error"
API need to be updated!

When invoke GetAllProductsAsync Function, it got an error: Requested value 'ETC-USD' was not found

Cause Shares/Types/ProductType Not Support

[2018-08-08 07:42] wall2in commented on #149
I got the same problem，also ETC-EUR and ETC-BTC!

I fix it myself and make it work now,
but hope developer could provide next stable release as soon as possible.

[2018-08-08 11:27] GITMIKRO commented on #149
@wall2in can you share what it is and where you made your fix? Thank you and much appreciated.

[2018-08-08 23:37] dougdellolio commented on #149
@atswork @wall2in @GITMIKRO looks like coinbase added support for ethereum classic yesterday. i have added this in here: https://github.com/dougdellolio/coinbasepro-csharp/pull/150.

will get this in as soon as possible, thanks!

[2018-08-09 01:16] dougdellolio commented on #148
@GITMIKRO the fix is in here: https://github.com/dougdellolio/coinbasepro-csharp/pull/150

i will release next version tomorrow. thanks 👍

[2018-08-09 01:16] #148 closed

[2018-08-09 01:46] #149 closed

[2018-08-09 14:31] BradForsythe commented on #145
At least I am not going crazy.   Yes, it's rare.   When it happens, it will continue to throw an exception until that price level is removed.    I believe it's because newtonsoft is trying the decode the decimal but it encounters the exponential format and chokes.  I haven't been able to trap it, but I am sure with a little work I can log a copy of the json string before deserialization.

[2018-08-09 18:29] chrisw000 commented on #145
Assuming the deserialization is occuring via the static helper method:

`CoinbasePro.Shared.Utilities.JsonConfig.DeserializeObject`

Then the json value before deserialization should already be logged via the Serilog.Log.Error, which is specified in CoinbasePro.Shared.Utilities.JsonConfig.SerializerSettings

with this bit of code:

[code]

Either that, or this bit of code need tweaking!

[2018-08-12 13:30] hammie1010 opened #151 "ProductsService.GetAllProductsAsync() throws Newtonsoft.Json.JsonSerializationException"
When calling var products = await _coinbaseProClient.ProductsService.GetAllProductsAsync(); I get the exception below.

[2018-08-12 14:09] dougdellolio commented on #151
hi @hammie1010. I just released the fix into Nuget. Please update your version to v1.0.21. let me know if you are still seeing issues. thanks 😄

[2018-08-12 14:15] hammie1010 commented on #151
That works - thanks!

[2018-08-12 14:27] #151 closed

[2018-08-13 17:45] GITMIKRO commented on #148
@dougdellolio I updated to 1.0.21, but still receing null data on the result. thx!

[2018-09-25 05:18] alexhiggins732 commented on #129
I believe this can be closed. #146 has been merged.

[2018-09-25 11:31] dougdellolio commented on #129
👍

[2018-09-25 11:31] #129 closed

[2018-09-25 11:54] BradForsythe commented on #145
Hey guys, I am going to close this for now.   I'll use Chris's logging suggestion to see if I can catch it again.   Volume has been sloth like and I haven't been hitting it lately.   Jumping back in soon...

[2018-09-25 11:54] #145 closed

[2018-10-05 04:21] bwjunkie opened #155 "FillsService before="
/fills?before=

I don't see an implementation for this option, is it deprecated?

-Josh

[2018-10-05 12:35] dougdellolio commented on #155
@bwjunkie hey I don't see any option for this in their API docs currently. Are you seeing this somewhere? Would be happy to add if it's possible!

[2018-10-05 18:05] bwjunkie opened #156 "multiple order statuses"
I don't see an implementation for multiple order status:
To specify multiple statuses, use the status query argument multiple times:
/orders?status=done&status=pending.

[2018-10-05 21:10] dougdellolio commented on #156
The ability to request multiple order statuses doesn't exist in this library currently. You can however pass in an order status of `All` to retrieve all orders of all types and then filter on the status within your program. Feel free to take a shot at implementing it here otherwise I can pick this up soon.

[2018-10-06 07:11] bwjunkie commented on #155
This may be my mixup with Pagination, in the docs they show:

example GET /orders?before=2&limit=30
API Pagination section
before |   | Request page before (newer) this pagination id.
after |   | Request page after (older) this pagination id.
limit | 100 | Number of results per request. Maximum 100. (default 100)

[2018-10-06 07:11] #155 closed

[2018-10-12 06:56] bwjunkie opened #158 "ZRX Currency type needed"
AccountsService.GetAllAccountsAsync maybe just broke in the last 24 hrs, due to CoinbasePro's new currency type.

Error converting value ""ZRX"" to type 'CoinbasePro.Shared.Types.Currency'

[2018-10-12 09:30] bwjunkie commented on #158
Things worked for me once I appended,

public enum Currency
    {...   , ZRX

and

 public enum Producttype
  {...   , [EnumMember(Value = "ZRX-USD")]
        ZrxUsd

[2018-10-12 12:15] dougdellolio commented on #158
@bwjunkie please update to the latest version in nuget (v1.0.22) for this fix. thanks!

[2018-10-12 12:15] #158 closed

[2018-10-13 04:04] mchandschuh opened #160 "Handling Exponential Notation in Depth Websocket Payloads"
While receiving depth data via websocket, I've recently been experiencing serializing failures due to coinbase sending data in exponential format. The below example pertains to the new coin but I _think_ I experienced this once before the new coin was released. Here's the full content body as intercepted via `JsonConfig.DeserializeObject` where it throws a `JsonReaderException`. For brevity I've t

[2018-10-13 14:32] dougdellolio commented on #160
@mchandschuh thanks for reporting this. I am seeing this locally now too. I have sent a ticket to their support team to get more information around this to see if it is a data issue on their end that can be fixed or it is something we should account for here. They usually respond quickly for API support requests so I'll keep you posted. Otherwise, if we don't hear back soon we should go ahead and

[2018-10-14 15:10] mchandschuh opened #161 "Make an IWebsocket interface to support unit tests"
I have code written which consumes the `Websocket` type. While it's possible for me to write a wrapper class and interface to provide the desired test seam, I think the project as a whole and it's consumers would benefit from providing an interface here.

Extract an interface from `Websocket` -> `IWebsocket`. We don't even need to update this existing code base to use the new interface, but it gre

[2018-10-14 15:13] mchandschuh commented on #160
Here's a commit with the above described changes: https://github.com/1Konto/coinbasepro-csharp/commit/f8fd0ccb46642320f4de78ecd9403cae421c07ba

[2018-10-14 19:49] #161 closed

[2018-10-17 15:47] mchandschuh opened #163 "Support dynamic products at runtime"
When connecting to the websocket I will typically fetch a listing of all products from coinbase, convert them to `ProductType` and then pass those converted values to the websocket. This process can fail each time coinbase issues a new product due to `ProductType` being an enum. We can convert `ProductType` into a class, provide the required equality members and custom json serializers to maintain

[2018-10-18 00:15] dougdellolio commented on #163
@mchandschuh i have been going back and forth on this for some time. I do like your idea but it would definitely be a breaking change which I want to try to avoid. I also feel like in this case the `enum` keeps the concept of `ProductType` simple and lightweight.

One of the ideas I was playing with is setting the `ErrorContext.Handled` flag on the JsonSerializerSettings (https://github.com/dougde

[2018-10-19 11:50] chrisw000 commented on #163
enum ProductType could have a ProductType.Unknown = 0

Have it serialize to that? And log it as a warning?

[2018-10-19 13:09] dougdellolio commented on #163
@chrisw000 i like that idea too. how would the EnumMember in ProductType look though since it looks like it requires a set value?

[2018-10-19 14:28] chrisw000 commented on #163
Have it as something like Unknown-Unknown, and have Currency.Unknown = 0 defined within the Currency enum?

The base currency / quote currency extension helpers split the ProductType EnumMember on the hyphen, so whatever is picked as the currency value (and therefore determines the ProductType EnumMember value) doesn't *have* to be 3 characters... can be whatever value makes most sense and would n

[2018-10-19 14:40] chrisw000 commented on #163
Alternatively.... Coinbase have announced the coins they're considering adding, and so far they've added the new ones paired to BTC USD EUR -> so could just add all the possible new ones so they're their for if / when they are made live?

And perhaps put the above Unknown fallback handling in just incase?

[2018-10-19 15:42] dougdellolio commented on #163
looks like we will have to implement custom JsonConverters for both `ProductType` and `Currency`. If you agree I will try to get to this today. Otherwise I can get this in next week as I am going on holiday for a week

[2018-10-19 15:57] chrisw000 commented on #163
[Actually a month or so ago they've said they'll accelerate new listings.](https://blog.coinbase.com/new-asset-listing-process-a83ef296a0f3)

And some listings maybe only available in some regions... so some ProductType values could be invalid for some users, even when they're live.

So sticking with the fixed enum long term could become problematic to keep it up to date for everyone?

The class r

[2018-10-19 17:32] dougdellolio commented on #163
sounds good. i have added a quick fix here for now and will revisit when I am back. .https://github.com/dougdellolio/coinbasepro-csharp/pull/164 if no objections I will merge and release new version

[2018-10-26 11:48] scholtz commented on #163
hi, new product has been added to coindesk .. can you please merge this and release new version? thanks

[2018-10-26 14:57] ryanfalzon opened #165 "All Trade History"
Am I correct to say that the way the wrapper has been written, there is no way to get a list of trades greater than the limit which is a 100?

[2018-10-26 18:34] dougdellolio commented on #165
@ryanfalzon

The maximum limit of 100 is set by Coinbase here: https://docs.pro.coinbase.com/#pagination. This means that per page you can only get up to 100 results. You can still pass in 0 (the default) for the number of pages which will return all pages.

If you are referring to getting a rate limit error for requesting all pages then yes that is due to how the requests are handled in this libr

[2018-10-26 18:41] ryanfalzon commented on #165
So if for instance I have 500 transactions, how would I go about getting all 500? Normally, exchanges would  have an offset value meaning that would first get a 100 transactions with an offset of 0, then I would get a 100 transaction with an offset of 100, then I would get a 100 transactions with an offset of 200 etc. Can this be done using this wrapper?

[2018-10-26 19:11] dougdellolio commented on #165
The library takes care of requesting with the offsets for you. For your example if you know you have 500 and leave the limit and page number as default then it will return 5 pages with 100 transactions in it. like this: `coinbaseProClient.FillsService.GetFillsByProductIdAsync(ProductType.BtcUsd)` This will make 5 network requests to get all 500 transactions and return into a list for you.

Alterna

[2018-10-28 17:29] LeonardoX77 opened #167 "Add releases to nuget"
Hi
Please, add to nuget every release, so we don't have to clone master branch, pull, compile and so ...

Thanks

[2018-10-28 19:32] dougdellolio commented on #167
@LeonardoX77 hey, every release here is also released to nuget. The latest package you will find is v1.0.23. let me know if you are referring to something different

[2018-10-29 01:17] LeonardoX77 commented on #167
My apologies. I didn't found any reference in README.md and nuget.org searching "coinbasepro" or "coinbasepro-csharp", so I supposed it wasn't published. Could you please post nuget url and update README.md to avoid others make same mistake?
Thanks
Regards

[2018-10-29 01:29] dougdellolio commented on #167
the name is still under GDAX since nuget won't allow me to change the name or ID without losing all version history 😞. The readme already contains a badge which displays latest version and links to the nuget page:
![capture](https://user-images.githubusercontent.com/4141717/47624983-3920de00-daf8-11e8-9ef3-f9d1fa48f3b0.PNG)

will close for now

[2018-10-29 01:29] #167 closed

[2018-10-29 03:45] bei2 opened #168 "support for USDC"
hi, the code now throws an exception because it cannot supported the new USDC listing.  Any ETA on a fix?  Thanks

[2018-10-29 07:06] ryanfalzon commented on #165
Thank you very much for you time. One last question, what is the class TimeSpanEmaphore.cs?

[2018-10-29 11:28] dougdellolio commented on #168
hey @bei2 . this is already fixed. please update to the latest version on nuget for it.

[2018-10-29 11:33] dougdellolio commented on #165
@ryanfalzon no worries. you can see the implementation of that class here: https://github.com/chrisw000/gdax-csharp/commit/0deb79e793ce1775b335265ef7bee87fefad18f9.

[2018-10-31 10:36] #168 closed

[2018-10-31 23:00] dougdellolio commented on #160
fyi support responded 16 days ago to my request with this:

I haven't received a response since so I just sent a followup this morning. In the meantime I am going to add your fix in

[2018-11-07 20:48] chrisw000 opened #171 "webSocketFeed.Close event firing every 60 seconds"
As per the title... the webSocketFeed.Close event firing every 60 seconds.
This causes WebSocket.WebSocket_Closed to fire, which restarts/resubscribes etc.

It seems that the reason its closing every 60 seconds is because of inactivity. I get this behavior if I subscribe to the User channel and then don't do anything for 60 seconds.... which happens :)

The problem is that the majority of the time

[2018-11-08 01:54] dougdellolio commented on #171
@chrisw000 i have seen this happen. I think we should be able to add this easily to the websocket and it doesn't have to be added when the websocket is constructed. I opened a PR here: https://github.com/dougdellolio/coinbasepro-csharp/pull/172 and ran a quick test on it... let me know what you think.

[2018-11-08 08:44] chrisw000 commented on #171
Nice... I'd assumed it needed to be set on construction.

While you're in that area... I noticed that the WebSocketFeed class has a .Invoke<T> method... which is used to hookup the events in WebSocket class, this doesn't seem necessary? You could remove the Invoke<T> method entirely and hookup the events like this (its the same, just a bit easier to read)

[code]

[2018-11-08 09:14] chrisw000 commented on #171
Actually.... there is an issue with the PR as it is... I'll put comments onto the PR

[2018-11-08 21:10] bthtrade commented on #160
Thank you for highlighting this JsonConfig file I've never heard about before.
In the converter, I personally use:
[code]

[2018-11-11 22:53] LeonardoX77 opened #173 "No nuget updated version released since v1.0.23"
Hi Doug
Since v1.0.23 it has been several improvements and fixes but no new version has been released into nuget.
I think this latest changes are enough important to release a new version. What are the indicators you apply or follow to label and release a new version?

Thanks
Regards

[2018-11-11 23:36] dougdellolio commented on #173
hey @LeonardoX77. Just released the latest to Nuget, sorry bout that. No real indicators to release.... just as changes queue up 😄 will close so feel free to reopen if you see any issues

[2018-11-11 23:37] #173 closed

[2018-11-12 00:01] LeonardoX77 commented on #173
no problem, thanks to you for all your dedicated effort ;)

[2018-11-13 10:58] michaelhuber1937 opened #174 "No ticker-messages on WebSocket when using API-Key that is restricted to an IP-address"
I have just created an API-Key on CoinbasePro that it is restricted to a specific IP-address (for security reasons).

But the problem is now that now I don't get any ticker messages via the WebSocket anymore. Calls to CoinbasePro with the same api key are working perfectly, so the credentials are fine.

When I switch back to an API-Key that is *NOT* restricted to an IP-address, I am receiving the

[2018-11-13 13:04] michaelhuber1937 commented on #174
Since this feature is very important to me, I already digged into the code. In fact the message is received (a websocket message was sent by CoinbasePro):

This results in a ResponseType.Error and therefore no event was fired.

The IP-address is definitly on the whitelist and all others calls except WebSocket does work.

Is the fault on the CoinbasePro-side? Maybe there is a 2. whitelist for WebSo

[2018-11-13 13:18] dougdellolio commented on #174
hey @michaelhuber1937. I tried looking around and can’t seem to find anymore information around it elsewhere. I can also try later today using my own credentials to see if I get the same error.

Did this work for you in previous versions of this library? If no then I would probably reach out to support on Coinbases end. They usually respond quickly if you use the reason for contact under API.

The

[2018-11-14 00:43] dougdellolio commented on #174
I am seeing the same issue. Digging around some more and it looks like it's a known issue: https://github.com/coinbase/gdax-node/issues/201

Depending on what you are trying to do, a workaround "solution" from that thread is to use a read-only API key without an IP filter for web socket and then use the IP filtered key via REST to do any trade operations.

Wish I had a better answer for you!

[2018-11-15 12:13] michaelhuber1937 commented on #174
I have a better idea. You overload the contructor with another parameter Authentication-Object, e.g. "authenticationWebSocket" and use that for the websocket. If this parameter is null, no authentication will be done, so the public WebSocket is used.

The standard-constructor just passes the same object of authentication to both internally.

Good idea as well, but I don't prefer this solution sinc

[2018-11-16 01:37] #138 closed

[2018-11-16 01:37] #136 closed

[2018-11-18 17:15] LeonardoX77 opened #175 "Conversion when retrieving asset info"
Hi Doug
I got this error sometimes when executing ProductsService.GetAllProductsAsync()
It's strange but I couldn't reproduce it on my local environment.
System format is English (U.K.), I'm not sure if it's something related to decimal separator or not.

Newtonsoft.Json.JsonReaderException: Could not convert string to decimal: 1e-8. Path '[21].quote_increment', line 1, position 7056.
   en Newton

[2018-11-18 19:02] dougdellolio commented on #175
hi @LeonardoX77. this looks related to https://github.com/dougdellolio/coinbasepro-csharp/issues/160. I have a fix that I will release shortly for it. The api is returning scientific notation in some cases and it doesnt know how to be deserialized

[2018-11-21 22:44] guanm326 commented on #145
I am getting this quite often now. Its with newtonsoft deserializer i think. As of this moment i am getting it when i subscribe to ethusd snapshot. its on the bid side.

[2018-11-21 22:53] guanm326 commented on #145
i think to replicate this you will need to enter to the sand box market and place an order with size 3e-7. subscribe to it and then the error should appear. I think its more to do with NewtonSoft and their de-serializer....

[2018-11-22 01:12] dougdellolio commented on #145
i have just added a fix for this here: https://github.com/dougdellolio/coinbasepro-csharp/pull/176. I want to do some more testing and then will merge. Newtonsoft has fixed this too but it hasn't been released yet. Looks like they haven't released in some time

[2018-11-22 15:38] michaelhuber1937 commented on #174
@dougdellolio

What do you think?

[2018-12-01 01:45] guanm326 commented on #118
I am wondering how does one track partial fills? What callback is trigger when a partial fill happened?

[2018-12-01 15:37] guanm326 commented on #118
More specifically does partial fills come through as "Done" type from websocket with remaining_size that is not zero? I can't seem to replicate it at all in sandbox exchange..

[2018-12-06 01:04] LeonardoX77 opened #179 "unhandled exception"
Hi Doug
Sometimes CoinbasPro library breaks in my production server due to an unhandled error in Supersocket library that I can't reproduce on my local environment, and probably it's an error that should be posted on Supersocket repo issues, but I'm not sure if Supersocket owner could say that the error is caused by anything in between your CoinbasePro implementation. So I decided to post it here

[2018-12-06 02:06] dougdellolio commented on #179
@LeonardoX77 hard to say from that stack trace 😞. have you tried subscribing to `OnWebSocketError`? https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro/WebSocket/WebSocket.cs#L332) there may be some more information about the exception there

[2018-12-06 12:52] #165 closed

[2018-12-06 12:55] ryanfalzon opened #180 "Conversion Error of AccountEntryType"
Getting the error below when invoking the method 'AccountsService.GetAccountHistoryAsync'

[2018-12-07 01:47] dougdellolio commented on #180
hi @ryanfalzon thanks for catching this. I have added a fix here: https://github.com/dougdellolio/coinbasepro-csharp/pull/181 this also contains a change that will prevent this from happening ever again should they add another type. New types will be set to `Unknown`

[2018-12-07 01:57] #180 closed

[2018-12-07 12:01] LeonardoX77 commented on #179
Hi Doug
Thanks for your quick replace. Yes, I've subscribed to both OnWebSocketError and OnErrorReceived, but I had an error logging the error, so I've fixed it and waiting for the issue to be reproduced again, but I found also this log (logged at same time as previous error):

System.Exception: The socket is connecting, cannot connect again!
   at SuperSocket.ClientEngine.TcpClientSession.Connect

[2018-12-07 13:06] ryanfalzon commented on #180
Will this update be releases in nuget?

[2018-12-08 00:34] dougdellolio commented on #175
closing. this is fixed with v1.0.25. let me know if you see any other issues

[2018-12-08 00:34] #175 closed

[2018-12-08 00:34] dougdellolio commented on #160
closing. this is fixed with v1.0.25. let me know if you see any other issues

[2018-12-08 00:34] #160 closed

[2018-12-08 10:43] chrisw000 commented on #179
I've never seen this sort of error.... however, Coinbase will close the socket at their end, if there is no activity for what appears to be something like 60 seconds.

When Coinbase close the socket this code will try to re-open it - which it seems to be doing from your stacktrace.

In order to not have Coinbase close the socket in the first place.... startup with an autoping value

You're probabl

[2018-12-09 12:18] chrisw000 commented on #163
They've added 4 more currencies:
https://blog.coinbase.com/erc20-tokens-civic-cvc-district0x-dnt-loom-network-loom-and-decentraland-mana-are-b1af2f53d92b

And are looking at a whole load more:
https://blog.coinbase.com/coinbase-continues-to-explore-support-for-new-digital-assets-92ba4ab7f465

[2018-12-12 02:08] #156 closed

[2018-12-12 04:41] nemesiswes opened #184 "Json Issue: Error converting value "" to type 'System.Guid'."
Just recently out of nowhere I get the error shown below in my console output.

[code]

It just started happening recently with no code changes on my end that would cause it.
I tried different versions going back to 1.0.23, nothing works.

It seems like a issue with Coinbase since it just started happening out of nowhere.

I'm going to try a fresh project and see it still happens, but in the mean

[2018-12-12 05:00] nemesiswes commented on #184
Yep, Just started a fresh project and using  .NET 4.6.1 and the latest Nuget Package 1.0.25.
Here is what I get:

`Trader Started
Socket Opened
snapshot recieved
Ticker  = 3341.73000000
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U recieved
L2U re

[2018-12-13 00:51] dougdellolio commented on #184
@nemesiswes i am seeing this now too...... weird. I believe this is on Coinbase side but either way I have added a way to handle it here #185

[2018-12-13 02:00] #184 closed

[2019-01-03 18:04] m1stegmann opened #187 "OnTickerReceived receives only one message and stops"
OnTickerReceived receives only one message and stops.

OnErrorReceived and OnWebSocketError are without any error.

Doesn't work with and without authentication.

Any hints?

[2019-01-04 02:30] dougdellolio commented on #187
hey @m1stegmann. what channels are you subscribing to and what product types are you using? I am able to receive all messages

[2019-01-04 11:31] m1stegmann commented on #187
Sorry, if i turn sandbox off it's working!

[2019-01-04 11:31] #187 closed

[2019-01-08 13:23] beckerben opened #188 "Missing price on websocket "done" message"
Great work here!  I have been toying with a sandbox connection and the user channel there and it is interesting that on a "done" message received on the websocket the price is 0, here's an example of the json returned below, was curious if this is just an issue connecting with the sandbox or maybe an issue with the code somewhere?  It looks like price is returned in the example in the coinbase pro

[2019-01-09 00:34] dougdellolio commented on #188
hey @beckerben it's hard for me to test on live servers because I would have to place an order 😄

Although, I am leaning towards it being being of the sandbox environment and not the code. There is a test here: https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro.Specs/WebSocket/WebSocketSpecs.cs#L303 that covers the `Done` response using the same JSON response from the api d

[2019-01-09 01:44] beckerben commented on #188
Perfect, I'll let you know when I switch out of sandbox mode if the issue still persists!

[2019-01-09 01:44] #188 closed

[2019-03-14 14:41] chrisw000 opened #190 "WebSocket.Close throws null reference exception under specific circumstances"
Up until `WebSocket.Start` is called successfully the following lines in the `WebSocket` class throw null reference exceptions

the State property:
`public WebSocketState State => webSocketFeed.State;`

within the Close method:
`if (webSocketFeed.State != WebSocketState.Open)`

reason being that `webSocketFeed` is null prior to `Start` being called

[2019-04-03 16:52] chrisw000 opened #193 "Thoughts on adding Interfaces to allow Mocking of CoinbaseProClient"
What are you thoughts on extracting an Interface out of CoinbaseProClient  ?

eg:
[code]

and also extract interfaces for the services
[code]
etc...

Therefore allowing the library to be Mocked when testing code which makes use of it.

[2019-04-03 23:43] dougdellolio commented on #193
100% for this, just never did it. If you feel up to taking it on go for it, if not I will take it up soon

[2019-04-04 06:57] kudobyte opened #194 "create 1.0.28 Nuget package"
Would like to have the Stellar Lumens code addition available, which was coded after the current 1.0.27 release. Thanks :)

[2019-04-04 09:33] chrisw000 commented on #193
No worries - I'll do a PR today for it - won't take long.

[2019-04-04 11:30] dougdellolio commented on #194
sure, i'll release tonight

[2019-04-05 03:03] #194 closed

[2019-04-13 15:59] gggustavo opened #197 "GetAllAccountsAsync"
when call coinbaseProClient.CoinbaseAccountsService.GetAllAccountsAsync()
return ->  'Newtonsoft.Json.JsonSerializationException' en System.Private.CoreLib.dll: 'Error converting value "ETH" to type 'System.Guid'. Path '[3].id', line 1, position 989.'

Assembly CoinbasePro, Version=1.0.28.0

[2019-04-14 02:27] dougdellolio commented on #197
hey @gggustavo. i've tested out different environments and can't seem to replicate this. is there any more information you can provide? either the json response (omitting all sensitive information) or what type of account it is trying to deserialize. thanks

[2019-04-14 02:27] #193 closed

[2019-04-14 02:28] #190 closed

[2019-04-14 02:28] #163 closed

[2019-04-16 03:38] gggustavo commented on #197
If I try call coinbaseProClient.**AccountsService**.GetAllAccountsAsync() work, instead
coinbaseProClient.CoinbaseAccountsService.GetAllAccountsAsync()

thank for support

[2019-04-16 22:07] bthtrade opened #198 "CoinbasePro.WebSocket.Models.Response.Match missing fields"
When subscribed to the Match messages, being authenticated, API Reference says:

taker_user_id: "5844eceecf7e803e259d0365",
user_id: "5844eceecf7e803e259d0365",
taker_profile_id: "765d1549-9660-4be2-97d4-fa2d65fa3352",
profile_id: "765d1549-9660-4be2-97d4-fa2d65fa3352"

Those fields are not present in the CoinbasePro.WebSocket.Models.Response.Match class.
Would it be possible to add those?

[2019-04-16 23:39] #198 closed

[2019-04-16 23:39] dougdellolio commented on #198
added in #199. thx

[2019-04-25 02:34] #197 closed

[2019-05-20 19:57] henningms opened #202 "Easiest way to convert string to ProductType and vice versa?"
Hello,

I'm wondering. What's the easiest way to convert to and from ProductType?

[2019-05-20 21:23] dougdellolio commented on #202
hi @henningms. There is an extension method that exists on enum (that should give you what you are looking for to convert from ProductType to string https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro/Shared/Utilities/Extensions/EnumExtensions.cs#L11. There is no elegant way currently that will convert from string to ProductType but you can use the generic parse method on an

[2019-05-21 17:37] henningms commented on #202
Hi there @dougdellolio,

Within the library it might not be necessary, or wait, there's already something that parses ProductType from a JSON string right?

I'm thinking of using this library in conjunction with other libraries for other exchanges for some small trading scripts that can read a trading pair from an editable configuration file and have it easily map to the correct ProductType in thi

[2019-05-21 23:15] dougdellolio commented on #202
sure, why not. feel free to take a stab at it otherwise I can get to it when I have some time.

[2019-08-21 11:29] riberk opened #205 "Build a new release and publish it"
Hi @dougdellolio

Please, build and publish on nuget release with this changes https://github.com/dougdellolio/coinbasepro-csharp/pull/204.

I think this changes are enough important to release a new version

Thanks
Regards

[2019-08-21 11:52] dougdellolio commented on #205
Agreed, will release this later tonight

[2019-08-21 13:15] riberk commented on #205
Thanks!

[2019-08-22 00:13] #205 closed

[2019-08-23 09:43] geniosoft opened #206 "Authentication"
Hello,
i am doing first steps with this API and i am struggling to understand what and where are the data for authentication.

When i create a API key in Coinbase Pro, i give a "Passphrase" and i receive a "API Secret". Could the hex string that stays visible in the API Panel in Coinbase be the "API Key"?

For the authentication i need 3 data fields, "APIKey", "APISecret" and "PassPhrase".

And al

[2019-08-23 11:21] dougdellolio commented on #206
hi @geniosoft

When you press "+ New API Key" the box titled Passphrase corresponds to the `Passphrase` in the authenticator. After the API key is created by setting permissions and pressing the "Create API Key" button, a box for your API secret will come up (this is only shown once) - this corresponds to the `APISecret` in the authenticator. After you press "Done" you will see a list of the curre

[2019-08-23 18:57] geniosoft commented on #206
I already did it and with sucess.
In my tries i already did that without sucess, but not knowing what was wrong i tried around and nothing. With your help i understood what was right, and got there.

I already had sucess creating a CoinbaseProClient object and connecting without authentication to the websocket. But each time i used authentication, the tick event did not activated. Knowing what dat

[2019-08-23 19:06] #206 closed

[2019-08-24 20:10] geniosoft opened #207 "Async Methods"
Hello,

I am using your library but i am working in VB.NET, and the async functions are making me dificullties.

I can't seem to make it work. I could go to C# and follow your examples, but i know that later in the most advanced features my experience in VB will make me go faster, but now it is difficult to make it work, because i am not used to work with async functions.

My code is as follows, t

[2019-08-24 22:21] dru-ward commented on #207
Hi,

Not familiar with VB, but without an await in C# you can put .Result on the end to get the result of the task (non async).. don’t know if it will work in VB, but replace your last line with:

Dim productstask1 As Task(Of IEnumerable(Of Services.Products.Models.Product)) = client1.ProductsService.GetAllProductsAsync().Result

Let me know how you get on.

Thanks

[2019-08-25 09:06] geniosoft commented on #207
Hello, thank you for your help.

I also contacted a friend that both works with C# and VB and he helped me solve the problem.

Your suggestion of using .Result or using Await before, both can do, but only if i declare the function where this code is as async:

Private Async Sub Stuff_to_Do()
          [....]
          Dim productstask1 As IEnumerable(Of Services.Products.Models.Product) = Await cl

[2019-08-25 13:24] #207 closed

[2019-09-10 10:43] codeinflash opened #208 "I gen a CoinbasePro.Exceptions.CoinbaseProHttpException: Post only mode"
Hi,
Sometimes, I get an error when placing a limit sell order.
The stack trace is below:

Exception - CoinbasePro.Exceptions.CoinbaseProHttpException: Post only mode
   at CoinbasePro.Services.AbstractService.SendHttpRequestMessageAsync(HttpMethod httpMethod, String uri, String content)
   at CoinbasePro.Services.AbstractService.SendServiceCall[T](HttpMethod httpMethod, String uri, String content)

[2019-09-10 11:18] dougdellolio commented on #208
hi @codeinflash

For post only mode, the post only flag is invalid when time_in_force is IOC or FOK. Are you using either of those values in your call? Looking through the docs, another piece of info which may or may not be related is `The post-only flag indicates that the order should only make liquidity. If any part of the order results in taking liquidity, the order will be rejected and no part

[2019-09-12 04:05] codeinflash commented on #208
Hi @dougdellolio

I use the built-in limit sell order function as following:
var orderResponse = await _CoinbaseProClient.OrdersService.PlaceLimitOrderAsync(CoinbasePro.Services.Orders.Types.OrderSide.Sell,
                CoinbasePro.Shared.Types.ProductType.BtcUsd, correctOrderSize, currentPrice);

[2019-09-13 11:26] dougdellolio commented on #208
hmmm.. from my understanding you wouldn't be able to set a price that is the same or lower than the highest buy order.

Wish I could help more.... if you do find out the answer please post back for future reference

[2019-09-30 15:06] codeinflash opened #209 "Is there a feature I can pull real-time hourly volume?"
Hi @dougdellolio,
Hope you are well.
Is there a way to pull hourly volume of BTC-USD?
Like when you select 1hr chart in TradingView, you can see current real-time volume.

Thanks!

[2019-10-01 02:10] dougdellolio commented on #209
@codeinflash i think what you want is `GetHistoricRatesAsync(..)` under the `Products` service on the client.. This call will return you [ time, low, high, open, close, volume ] given a timeslice (aka the granularity). You can see that granularity options here: https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro/Services/Products/Types/CandleGranularity.cs.

Some more around

[2019-10-01 02:13] #208 closed

[2019-10-01 22:36] dougdellolio commented on #209
Looking through the docs again I am not sure of any other way, sorry. You can try maybe reaching out to Coinbase directly to see if they can offer a solution or wait and see if another user here has a better idea.

[2019-10-11 23:01] geniosoft opened #210 "Error Converting string to GUID in CancelOrderbyID"
Hello,

in the software i am developing i monitor price and when it lowers more then a percentage i cancel one buy order and create another one.

I register guid string and use it to cancel order.

My code (VB.NET) is as follows:

Dim r1 As CoinbasePro.Services.Orders.Models.Responses.CancelOrderResponse
r1 = Await clientcb.OrdersService.CancelOrderByIdAsync(m_ordercode)

m_ordercode contains "6eb

[2019-10-12 03:17] dougdellolio commented on #210
@geniosoft you found a bug in the client. perhaps the json response was changed at some point but the response included one Guid for the cancelled order however we were expecting a list of them. Either way it should now be fixed with https://github.com/dougdellolio/coinbasepro-csharp/pull/211. Let me know if you are still having issues.

thanks!

[2019-10-12 09:56] geniosoft commented on #210
Thank you for the detection and correction, but i still don't know how to use it, as the latest nuget package i can use is version 1.03 from August 22.

I tried downloading the actual zipped project from github and inserting it on my solution, but it didn't recognized the namespace and i got back to nuget with bugged version.

[2019-10-12 13:53] dougdellolio commented on #210
@geniosoft I just released the latest version to NuGet (v1.0.31). Please upgrade and it should work now.

[2019-10-12 15:04] geniosoft commented on #210
Thank you. I testest it and it now works.

[2019-10-12 15:04] #210 closed

[2019-10-12 15:20] #209 closed

[2019-10-27 16:09] j0sh710 opened #212 "CandleGranularity"
Can you add the 4h candle granularity?

[2019-10-27 18:38] dru-ward commented on #212
I could be wrong, but I’m confident in saying that the Coinbase Pro Api doesn’t support 4h candle data.

[2019-10-27 19:46] dougdellolio commented on #212
hey @j0sh710, i think @dru-ward  is right. From their docs i don't see an option for 4hr:

[2019-10-28 01:43] j0sh710 commented on #212
Thank you @dougdellolio and @dru-ward I now see that and you are correct. I appreciate you looking into it!

[2019-10-28 01:43] #212 closed

[2019-12-23 15:36] axelarati opened #214 "Open order for LINK-USDC shows up as 'Unknown' Product Id"

[2019-12-23 19:20] dougdellolio commented on #214
hi @axelarati . I don't see that trading pair as available on Coinbase Pro which is why it could be Unknown. I am looking at their list here: https://support.pro.coinbase.com/customer/en/portal/articles/2945308-locations-and-trading-pairs

Also make sure you have latest version from Nuget as the LINK currency was added in v1.0.30 which could be another reason you are seeing Unknown.

[2019-12-25 15:14] axelarati commented on #214
Thanks for your reply. I think this trading pair is available on Coinbase Pro because I was able to see the LINK-USDC order with a different API (https://github.com/bchavez/Coinbase.Pro). I also had manually created that order using the coinbase pro UI, but I noticed that the UI only has around 5-6 trading pairs and those pairs seem to be different than the ones in the link you provided.

[2019-12-25 18:47] confessore commented on #214
I don’t see this pair. I only see LinkUsd and LinkEth

[2019-12-25 18:52] dougdellolio commented on #214
I am still not sure how it is possible as I don't see this on their listed markets either (only LinkUSD and LinkETH as the other comments state) (https://pro.coinbase.com/markets) or through my trading UI. Could you maybe provide a screenshot of some sort of where you are seeing this?

[2019-12-25 18:59] axelarati commented on #214
I think it's because I am testing in the sandbox. You can see in the screenshot below that there is 'LINK-USDC' as a market.

![Screen Shot 2019-12-25 at 1 56 08 PM](https://user-images.githubusercontent.com/16293515/71449626-83164b80-271e-11ea-9630-6b31209b61ca.png)

[2019-12-25 19:06] confessore commented on #214
not sure if @dougdellolio wants to add pairs that are only in the sandbox. it makes sense that coinbasepro would add these features to the sandbox before going live with them

[2019-12-25 19:13] dougdellolio commented on #214
sandbox definitely explains this. my thought here is to hold off on adding these until they are fully supported on their live servers. I wouldn't want to give anyone the impression they can trade this before it's available. Until then, I would recommend either forking this project and adding it for your own use or choosing another pair to test with. hope this clears it up!

[2019-12-25 20:03] #214 closed

[2019-12-29 14:06] forReason opened #217 "bid, ask and price incorrect in api"
I am having issues of the Prices beeing wrong coming from GetProductTicketAsync

This is my code:
`var response = await ProClient.ProductsService.GetProductTickerAsync(CoinbasePro.Shared.Types.ProductType.BtcEur);`

the askprice which comes back is 100000

[2019-12-29 14:39] dougdellolio commented on #217
hi @forReason . are you using sandbox or live servers? I am seeing correct pricing on live but sandbox usually returns 100000.

[2019-12-29 15:03] forReason commented on #217
ahh thank you. I used Sandbox.
Also, what is the "unsignedSignature" in the Authenticator?
I have set it like this, I hope its correct:
`private static protected Authenticator authenticator = new Authenticator(Credentials.ProApiKey, Credentials.ProApiSecret, Credentials.ProPassphrase);`
I was used the secret for unsigned signature and for the pasphrase i had to create a second api key because it i

[2019-12-29 15:11] dougdellolio commented on #217
looks like you have it right. the unsigned signature is the same as the API secret that is generated and shown only once (the long string of characters).

let me know if there's any other problem, thanks!

[2019-12-29 15:11] #217 closed

[2019-12-29 15:18] forReason commented on #217
Thank you, your help is much appreciated.

[2020-01-03 15:21] ThatBlokeCalledJay opened #218 "Error Converting Value "LOOM" to type 'System.Guid'"
Hello all,

Just trying out the various services and hit across this problem, seems pretty straight forward but just wanted to report it.

When I use the CoinbaseAccountsService.GetAllAccountsAsync method, I get the above error. On inspection of the json data, it's clear to see that some of the accounts have, as expected, GUIDs but other accounts seem to have the actual currency value set as the i

[2020-01-04 01:27] dougdellolio commented on #218
hi @ThatBlokeCalledJay thanks for catching this. I don't really understand why these are no longer all the same GUID type. Their documentation makes no note of this either and it seems to be a fairly new thing. I think switching the id to a string is the only option here even though it's breaking.

change is made here https://github.com/dougdellolio/coinbasepro-csharp/commit/da0245c4dd9c3f39ea8533

[2020-01-04 01:27] #218 closed

[2020-01-28 12:16] Lumaswell opened #219 "PlaceMarketOrderAsync: Exception Thrown, invalid price 0"
I've been using the PlaceLimitOrderAsync for a while now, and recently added some functions for the PlaceMarketOrderAsync to my code.  The first time I tried to use it (and subsequently thereafter) I received an exception:

'CoinbasePro.Exceptions.CoinbaseProHttpException' in mscorlib.dll
Msg - Invalid price 0

Since there's no input for price on the function itself (unless I've grievously misread

[2020-01-28 13:37] Lumaswell commented on #219
In looking back at the function I did not specify the MarketOrderAmountType setting, I have set that now and will respond back if it works.

[2020-01-29 12:32] Lumaswell commented on #219
Unfortunately I have to confirm the bug, both on the live server and the sandbox.   I updated all my add ons and packages just to be safe, up to date as of 1/29/2020. The code snippet I used for testing follows:
[code]

[2020-01-30 01:58] dougdellolio commented on #219
hi @Lumaswell. This does look like a bug. I have fixed it here (https://github.com/dougdellolio/coinbasepro-csharp/commit/1c707c85d1e721ac8ac977464bb210cc5b070878) and released a new version, please update to v1.0.34 and let me know how it looks. thanks for reporting this!

[2020-01-30 04:09] Lumaswell commented on #219
Awesome, thanks for the quick fix.  Worked great in the sandbox, will let you know if there are any further issues, but I'm not expecting any.

[2020-01-30 12:17] #219 closed

[2020-02-16 01:10] mchandschuh commented on #202
@henningms -- any progress? I actually converted this repo about a year ago to _not_ use an explicit enumeration, but instead use a static enumeration class. This was to fix the issue with the application crashing each time coinbase adds a new coin. I can't remember if I offered it as a PR or not. Here's the main commit that may be of interest to you:

the concept is simple -- convert the `Product

[2020-02-16 09:59] henningms commented on #202
Ah, cool.

I did not get around to doing anything I'm afraid. My trading apps had to take a backseat for a while.

[2020-02-26 02:41] ExceedingLife commented on #118
I have been wondering how to get started. Do I need to make my own form or web project and use this api with it? sorry for the noob questions but once i understand more of what i need to do ill get started with it.

[2020-02-26 03:13] dougdellolio commented on #118
@ExceedingLife it really depends on what you would like to do but I would recommend you start by creating a console app with the nuget package installed to get comfortable with the library. From there you can use the code snippets from either the readme or comments above to talk to coinbase pro. The full list of possible actions exists in the documentation here https://docs.pro.coinbase.com/ and t

[2020-02-27 01:49] ExceedingLife commented on #118
I want to have it so it can Sell x amount when it drops to a certain price and then if it goes back to a price to be able to buy it back. What do you have? I code in c# daily but i havent done much with APIs. Ill start with a console to learn it like you suggest.

[2020-03-03 17:57] axelarati opened #220 "Issue with placing market order (price = 0)"
When I call CoinbaseProClient.OrdersService.PlaceMarketOrderAsync() I get an error saying that price 0 is invalid. However, for market orders there shouldn't be a price specified, and the documentation confirms this. https://docs.pro.coinbase.com/#place-a-new-order

Maybe the API is accessing the wrong endpoint or Coinbase is incorrectly giving me back this error. I looked into the source code and

[2020-03-04 00:38] dougdellolio commented on #220
@axelarati what version are you using? we saw this problem with versions < v1.0.34. Try upgrading if you haven't and see if that fixes. thanks!

[2020-03-04 01:02] axelarati commented on #220
That worked, thanks!

[2020-03-04 01:02] #220 closed

[2020-03-30 21:22] ExceedingLife commented on #118
Hey man, I wanted to ask you this awhile ago, what are you currently using for a GUI with your project? do you have coinbase pro up to see the current data and then have a GUI you made to buy and sell.
By the way Stay Safe man, I see your from New York. Sounds scary there at the moment.

[2020-03-30 23:20] dougdellolio commented on #118
@ExceedingLife To be honest, I actually haven't built any front end for my purposes (just console apps), Although, I have talked to others that have built web apps (react/angular) that talk to web services using this library and others that have built full WPF desktop applications. Anything is really possible. I appreciate it and hope you are staying safe too!

[2020-04-01 13:55] ExceedingLife commented on #118
Oh wow lol, I feel like we could make alot of $ with your API. It would be like a limit buy or sell but more advanced. if bitcoin dropped to a certain price sell it (limit sell) but then if it were to raise back up to buy it back so if it goes up alot you dont lose much if any. and otherwise if it were to keep dropping to have it sold so you can buy it back later when its cheaper. basically a limi

[2020-04-04 19:00] axelarati opened #222 "Error with GetAllFillsAsync()"
When I try get all the fills I get this error message:
"query must contained either product_id or order_id"

I'm able to get fills when I query by product id.
This happens on sandbox mode, I have not tried live testing.

[2020-04-04 19:06] dougdellolio commented on #222
hi @axelarati this was deprecated back in 2018.  I had also marked this as Obselete https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro/Services/Fills/FillsService.cs#L22. I will remove completely soon. You will only be able to query by either product or order id.

[2020-04-04 20:06] #222 closed

[2020-04-06 14:54] axelarati opened #223 "Issue placing stop orders"
When I place a stop order I get the error "Invalid order_type stop"

I believe I found the error in the PlaceStopOrderAsync() function here: https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro/Services/Orders/OrdersService.cs

According to the documentation https://docs.pro.coinbase.com/#place-a-new-order, shouldn't the OrderType be set to Market and the 'Stop' be set to Sto

[2020-04-07 01:11] dougdellolio commented on #223
@axelarati thanks for reporting. Please take a look at https://github.com/dougdellolio/coinbasepro-csharp/pull/224 and let me know what you think. I believe the current "PlaceStopLimitOrderAsync" isn't fully correct so I've removed it and re-worked "PlaceStopOrderAsync".  I've compared requests from placing an order through their UI to this library and they should match now.

[2020-04-07 16:26] axelarati commented on #223
@dougdellolio Is it possible to place a stop (market) order with these new changes? Generally, I'm using stop orders to stop out of positions immediately, but I use stop limit orders as a way to take profits, i.e. once I hit a target price, I want to put a limit order at that target price (my reasons for not just putting a regular limit order are complicated).

Also, I believe your implementations

[2020-04-08 02:48] axelarati commented on #223
@dougdellolio I can work with that. I just wasn't sure what kind of stop orders I could place since the documentation didn't match what was available in the API. The PR looks great,  I don't see anything else that needs to be added for my purposes.

Thank you for all your help and very quick replies. It helps a lot with the development process, so  I really appreciate it.

[2020-04-08 12:11] #223 closed

[2020-04-08 21:33] axelarati commented on #223
@dougdellolio I noticed a few problems once I tried working with the stop orders I get from Coinbase:
- No stop price shows up (only the limit price). It seems the documentation doesn't specify that there should be a stop price either when retrieving orders, but that is weird...
- When I request 'open' orders, the stop orders do not show up. They show up when I request 'active' orders, but 'active

[2020-04-09 00:04] dougdellolio commented on #223
@axelarati

Here's what I just tried on my end:

My code (not using async):

![image](https://user-images.githubusercontent.com/4141717/78844327-6fdc7280-79d3-11ea-9ffa-5d00ae134ca0.png)

This is the result on my sandbox:
![image](https://user-images.githubusercontent.com/4141717/78844107-bf6e6e80-79d2-11ea-9b6d-ea6835ed28cd.png)

openOrders returns to me 1 order (the one above)

The order type "S

[2020-04-09 20:03] axelarati commented on #223
I think I figured out the problem. When I place a sell stop order with a stop price below the current price, it shows up as 'Active' in the API and the online sandbox UI. When I place an order with a stop price above the current price,  it shows up as 'Open'.

This leads me to believe that 'Active' means that the order is acknowledged by coinbase, but it isn't open as a limit or market order yet s

[2020-05-10 00:42] Lumaswell opened #225 "A call to SSPI failed, the function is not supported."
I took a break of a few months from my code, when I came back and updated my packages I started getting an error I've not seen before.

The following exception is thrown.
1) A call to SSPI failed, see inner exception.
The inner exception is then:
2) The function requested is not supported

Since I made no changes to my code and this popped up, and it's part of the websocket code I'm reasonably cer

[2020-05-10 01:26] dougdellolio commented on #225
hey @Lumaswell. I think this is actually a problem on Coinbases side. They are reporting connectivity issues and partially degraded services. I will verify again when it's back up to make sure it's not a code issue but nothing has changed in the websocket code recently.

Their tweet here as of 8:49 PM EST https://twitter.com/CoinbaseSupport/status/1259284459838267392
and their status here: https:/

[2020-05-10 15:02] ExceedingLife commented on #118
Wow, I finally took some time yesterday to take a look at this API. (I never used an API before). I built a Console App as you suggested., and wow it was so easy to use! I couldn't believe how easy it was to get going lol. I  am going to build my GUI with WPF as I wanted. Maybe eventually ill make 1 on the web.
A few questions I have:
ProductsService.GetProductOrderBookAsync- What is the differenc

[2020-05-10 23:41] dougdellolio commented on #225
@Lumaswell this has stumped me a bit and not sure at what point or even why this became an issue. After doing some searching it seems to be potentially related to .NET and/or the OS. When the library creates a new instance of the Websocket, no SSL protocol is explicitly set (following Microsoft's recommendation). The option `SslProtocols.None`, which is defaulted when the websocket is initialized,

[2020-05-11 12:52] Lumaswell commented on #225
The only reference I found when I was originally thinking I'd screwed something up, was a changelog on  coinbase that showed they updated either the TLS or the SSL protocol.  Of course, I can't find this webpage now to link to you despite searching for the last 20 minutes.  I am using .net framework for my code, I'll have to make the switch in the near future.  Thanks for your hardwork on this.

[2020-05-11 15:44] dougdellolio commented on #225
No worries. I have released the change. Please update to v1.0.36 and try it again. Feel free to re-open this if you are still seeing problems with it. thanks!

[2020-05-11 15:44] #225 closed

[2020-05-15 13:41] ExceedingLife commented on #118
So I have a question. I have everything working in a Console app.
Now I'm making a GUI when I call the same method:
PlaceStopOrderAsync()
I get an error message
'Order Created Exception
Invalid length for a Base-64 char array or string'

 var response = await coinbaseProClient.OrdersService.PlaceStopOrderAsync
                    (
                        OrderSide.Buy,
                        Pro

[2020-05-15 14:29] dougdellolio commented on #118
@ExceedingLife for questions where you believe there may be an issue with the library, please add a new github issue so we can discuss on a different thread. I'd like to keep this one related to "Getting Started" only.

I don't seem to have any issues placing stop orders on my end. Make sure you are updated to the latest version through Nuget (v1.0.36). You can also use the examples in the readme

[2020-05-15 14:37] ExceedingLife commented on #118
Ok, Sorry doug, I figured it out as well. I'm LOVING this API.

[2020-05-16 02:27] ExceedingLife opened #227 "Question getting Orders Continuous"
Hello,
So I have a question.
I have a WPF application and I want to get continuous TradeHistory so if it goes to a price I can buy or sell.
What would be the best way to do this? Create a method and call
ProductsService.GetTradesAsync
every 1 second?
I have never created an application to get continuous data.
Thank you (I wasn't sure where to post this)

[2020-05-16 21:16] pazi77 opened #228 "Ticker High24H always 0"
Hi Doug,
If you subscribe to the ticker channel
High24H always zero. I have not used the sandbox.
The other values should all be correct.

[2020-05-17 13:07] dougdellolio commented on #228
hi @pazi77  thanks for reporting this. Definitely a bug. Fixed here: https://github.com/dougdellolio/coinbasepro-csharp/commit/a8e9a54ef129da7f2d429d4a172c54422c083e46. It will go out with next release

[2020-05-17 13:07] #228 closed

[2020-05-17 13:26] dougdellolio commented on #227
@ExceedingLife for continuous data I would recommend looking into using the websocket feed. please refer to the documentation here: https://docs.pro.coinbase.com/#websocket-feed and the Getting Started thread https://github.com/dougdellolio/coinbasepro-csharp/issues/118 for code examples. thanks

[2020-05-17 13:26] #227 closed

[2020-05-18 17:57] ExceedingLife opened #229 "Websocket connection issue"
Hello,
I'm trying to get a constant connection to the Websocket for order data,
I tried it with auth and no auth. both I get the error:
              "CoinbasePro.Exceptions.CoinbaseProWebSocketException: 'WebSocket Feed Error: A call
               to SSPI failed, see inner exception.'"

I googled it and it told me to add
[code]

but that didnt do anything. Any suggestions? Here is my code.
`priv

[2020-05-18 18:24] dougdellolio commented on #229
@ExceedingLife Please make sure you're using the latest version. If you are downloading the package from Nuget, it should be v1.0.36.  https://github.com/dougdellolio/coinbasepro-csharp/releases/tag/v1.0.36

[2020-05-26 19:08] ExceedingLife opened #230 "Retreiving Posted Orders by you"
Hello Doug,

So I  got most everything working so far that I have been working on, I never looked back into websockets but Im getting all trade history every 3-5 seconds on a separate thread/task. So good enouph for now,
Next I would like to see the orders/trades that I created, and to know if they have been completed or not. When I post for example a 'Stop Order' do I get the OrderID in the respo

[2020-05-26 23:47] dougdellolio commented on #230
@ExceedingLife  please take a look at the docs here https://docs.pro.coinbase.com for these types of questions. you should be able to find the proper endpoints for orders and how to query types of orders here https://docs.pro.coinbase.com/#orders

[2020-05-26 23:47] #230 closed

[2020-05-26 23:47] #229 closed

[2020-06-01 13:36] ExceedingLife opened #231 "Trades executing more than 1 time (sometimes) for my program."
Hello,
I built a WPF program that is running perfectly this is my last step needed till its functional. It only happens once in awhile sometimes it works like its supposed to but every so often randomly a trade will get executed 2 times, and I cant have this happen. I have a method with a Task its always running in the background checking a condition. Once its met then it does the other method. I

[2020-06-05 00:45] dougdellolio commented on #231
I'm not sure why this would be happening. This doesn't sound like a problem with the library itself. I would set breakpoints on the actual order placement and trace the stack up every time it is called to debug. Please reopen this issue if you believe there is a problem with the packaged code otherwise we should focus the issues here to ones in the library itself. thanks

[2020-06-05 00:45] #231 closed

[2020-06-13 15:03] lploumen opened #232 "insufficient funds"
Hi,
I am using the sandbox, I have a account with less than 1BTC. When trying to sell 3 BTC, I do not get any errors and it sell my whole BTC balance. On the website, when trying the same, I get the expected error 'insufficient funds'.
How can I get this error when using the API?
Thank you !

[2020-06-14 13:56] dougdellolio commented on #232
Hi @lploumen ,

The sandbox account will use a different balance than your live account. It is typically a very large number. I just tried placing a market order for more than my sandbox account balance and I am receiving the error.

![image](https://user-images.githubusercontent.com/4141717/84595273-f3c43800-ae24-11ea-9e7c-c02ad6b249c1.png)

Trying to sell 221,851 throws this:

![image](https://u

[2020-06-15 17:05] nicolae-lupei opened #233 "System.AggregateException: 'One or more errors occurred. (Error converting value "9143hklo-d975-54df-bb60-64347682bfb7" to type 'System.Guid'. Path '[3].id', line 1, position 2290.)'"
![image](https://user-images.githubusercontent.com/56689983/84685760-75aa8300-af43-11ea-9437-2725577d9943.png)

[2020-06-15 17:50] dougdellolio commented on #233
@nicolae-lupei  Are you seeing this in the live environment or just sandbox? I seem to be fine using non-sandbox. Regardless, I've updated to use string so this doesn't occur (https://github.com/dougdellolio/coinbasepro-csharp/commit/c3c3b926db3187b4a160ce5e017ad5b9af1f901c). Very weird it would be returning a non-valid GUID as their docs example has been GUIDs.

[2020-06-15 17:54] nicolae-lupei commented on #233
I only used the sandbox environment

[2020-06-15 17:54] #233 closed

[2020-06-15 20:10] lploumen commented on #232
Hi!
No I don't seem to get same result as you.
I have this balance:
![image](https://user-images.githubusercontent.com/11539944/84701128-ac3cc980-af54-11ea-8223-dfbce16ad535.png)

Now I try to buy market 4 BTC (which  should not be possible) , and I get that in the logs:
![image](https://user-images.githubusercontent.com/11539944/84701252-ed34de00-af54-11ea-9d92-85a11aacd19c.png)

See the remainin

[2020-06-15 22:28] dougdellolio commented on #232
@lploumen it looks like you aren't seeing the exception because you are getting part of your order filled. If you notice the remaining size is ~3.82142768 of the 4 BTC. If you run the place order again, you will get the error because there are truly no funds available.

I am not 100% sure of the logic here because its not documented but I am seeing what you are seeing on "Buy" only orders. However

[2020-07-27 09:17] unholyHub opened #238 "Max Funds For Limit Order"
PlaceLimitOrderAsync(orderSide, productPair, size, price, timeInForce, postOnly, clientOId) - place limit order with time in force

I want to place a Limit Order with a specific price in mind.
The previous parameter of the method is size.

I tried to calculate it with the this logic:
fee = currentBalance * LimitFee
(currentBalance - fee) / desiredPrice = size

But after executing the order in my b

[2020-07-27 14:41] dougdellolio commented on #238
hi @unholyHub unfortunately, i don't think there is a way to do this currently . I just reviewed the docs again and don't see anything (https://docs.pro.coinbase.com/#orders).

[2020-07-29 09:08] bondocel11 opened #239 "Does this library work with Coinbase Prime?"

[2020-07-29 12:45] dougdellolio commented on #239
@bondocel11 this library will not work with Coinbase Prime currently because the URLs all point to Coinbase Pro.  (https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro/Shared/ApiUris.cs#L9). I believe changing the URLs  could work since the APIs all look the same but I would have to figure out a way to get an account to test this theory.

[2020-07-29 12:45] #238 closed

[2020-07-29 12:45] #232 closed

[2020-08-04 19:30] GITMIKRO opened #240 "XRP Withdrawal with Destinataion Tag"
Hi Doug,

Using this to request a withdrawal to another wallet address:

var result = await CoinbasePro.WithdrawalsService.WithdrawToCryptoAsync(WithdrawToWallet, Convert.ToDecimal(withdrawalqty), currencyType);

With Ripple, the exchange I am sending to requires a Destination Tag.

Thanks for recommendation on how to do this.

Michael

[2020-08-05 03:13] dougdellolio commented on #240
@GITMIKRO hey michael,

nice catch, this has been missing from this library since its new-ish to their API. I've just added the ability to specify destination tag and added other missing Withdrawal service calls: https://github.com/dougdellolio/coinbasepro-csharp/commit/e659de2723966b0f6b55b2a46def3a90a25e5d43. I released this to NuGet if you want to update to the latest and try. I have **not test

[2020-08-06 15:06] GITMIKRO commented on #240
Thx Doug,

I will test as soon as possible. Always appreciated. I hope that you are safe and well.

Michael

[2020-08-06 23:16] GITMIKRO commented on #240
@dougdellolio

Strange... I updated to 1.0.38. I see the new destinationTag. I submit a valid wallet address and destination tag at the exchange where the XRP is being sent.  I get a valid Id response upon submission of the withdrawal request.

However, the currency never leaves CoinBase.

Maybe I'm missing something obvious.  Any suggestions?

Thx.

[2020-08-06 23:32] dougdellolio commented on #240
thanks Michael, hope you are safe and well too!

so a few things:

1. this endpoint requires that your API keys have the "transfer" permission. You can check this off when you create the keys. Without this checked, the withdrawals won't work
2. Transfers for XRP can take up to 600 seconds (10 minutes). If you have just put these orders in, I would give it some time to make sure it has gone through

[2020-08-07 00:35] GITMIKRO commented on #240
Good suggestions.

I don't have access to my account atm, so when I do, I will check this out and report back:

1. I will first need to check the API keys and make sure I have the "transfer" permission set correctly. I have successfully transferred other currencies through coinbase, but I am not sure if I need to specifically set up an XRP key.

2. It isn't the transfer time. I did the first tests

[2020-08-10 15:00] GITMIKRO commented on #240
@dougdellolio Hi Doug,

Turns out, I was making a test withdrawal/transfer for an amount of XRP that was below the minimum.  Normally, in this situation, the API would respond with a message like "Amount is below the minimum (22.000 XRP), as I have seen with other currencies.   As I mentioned, the API responded here in a way that made me think the transfer request was accepted, by providing a uniq

[2020-08-10 17:37] dougdellolio commented on #240
That's confusing. This library catches all errors as they are returned so it sounds like this may be something on their end. Not sure why XRP would be any different as the requests are the same. Were you able to confirm it works with an acceptable amount?

[2020-08-13 23:57] GITMIKRO commented on #240
Thx @dougdellolio.  Yes,  It does work as long as I exceed the minimum quantity. I'll just trap that on my end so I don't make that mistake on some test in 6 months from now and forget that we resolved this.

[2020-08-14 00:03] dougdellolio commented on #240
awesome, going to close this issue. let me know if you have any other issues!

[2020-08-14 00:03] #240 closed

[2020-08-16 20:54] bwjunkie opened #241 "GetAccountHistoryAsync CoinbaseProHttpException: 'NotFound'"
Await coinClient.AccountsService.GetAccountHistoryAsync(walletid, 2, 2)

CoinbasePro.Exceptions.CoinbaseProHttpException: 'NotFound'

(ultimately trying to get my Fills)

example code:
 var accountsList = Await coinClient.CoinbaseAccountsService.GetAllAccountsAsync();
 var    walletThisProduct = From row In accountsList Where row.Currency = [Shared].Types.Currency.BTC select row;
var walletid = wa

[2020-08-16 21:15] dougdellolio commented on #241
hey @bwjunkie . Looking at your code, the `AccountsService` differs from the `CoinbaseAccountsService`. You are trying to pass in a Coinbase account ID in here so it is not being found. I would use the `AccountsService` to retrieve the ID of the account you want the history for. Your code should change to look something like this:

[code]

[2020-08-16 21:37] bwjunkie commented on #241
yes that helped, thank you.

now getting 'private rate limit exceeded'  *sad*
but I'm sure that is not an API problem.

[2020-08-16 21:42] dougdellolio commented on #241
yes, this endpoint has a special rate limit so you must be careful how you are calling this

feel free to open up another issue if you run into anything else. thanks!

[2020-08-16 21:42] #241 closed

[2020-08-16 21:42] #239 closed

[2020-08-18 13:47] salocinx opened #242 "Why is there no `MarketOrderAmountType` parameter for placing limit and stop orders?"
Thanks for sharing your great work!

Is there a reason why there is no `MarketOrderAmountType` parameter for placing limit and stop orders?

[2020-08-18 18:45] dougdellolio commented on #242
hi @salocinx - thanks! I just double checked the API docs again and these look to be only available for Market Orders. Other order types only take a size (amount of base currency to buy or sell) while market orders are given the option to provide either funds or size amount.

https://docs.pro.coinbase.com/#place-a-new-order

this looks to just be a limitation of their API

[2020-08-19 12:17] salocinx commented on #242
Thanks for validating!

[2020-08-19 12:43] #242 closed

[2020-08-19 12:48] salocinx commented on #202
@mchandschuh What do you mean by:

`This was to fix the issue with the application crashing each time coinbase adds a new coin. `

Does your application based on this library really crash when a new coin is added to Coinbase or is the new coin just not available in your application? If it indeed crashes, why?

[2020-08-19 12:57] salocinx commented on #202
I guess to solve the issue with new coins, one would have to refactor all `ProductType` enum occurrences with a `string` type within this library. Then requesting all available products by calling `client.ProductsService.GetAllProductsAsync()` on application startup (or periodically) and build up a collection of strings identifying the available products which then can be used to place orders etc.

[2020-09-09 10:10] salocinx opened #244 "How to use Profile/Porfolio?"
Hi. Is it somehow possible to place orders for a specific portfolio? When studying the API, I cannot make any sense how to use the portfolio/profiles other than querying and listing them. Do they have any other usable function within the API? I guess I misunderstand some of the concept.

[2020-09-09 12:34] dougdellolio commented on #244
hi @salocinx.  API keys are scoped to a specific profile (aka portfolio) so when you create an API key, you have the option to select which Portfolio to use with that key.

![image](https://user-images.githubusercontent.com/4141717/92598163-728b0e80-f276-11ea-907d-4cf59112fde2.png)

in other words, you would have different API keys for different profiles. There is no way to pass the profile name o

[2020-09-09 13:14] salocinx commented on #244
Thanks very much for the clarification! I missed that, but now I got it 👍

Is it possible to have multiple `CoinbaseProClient` instances connecting to different profiles/portfolios simultaneously?

[2020-09-09 13:23] dougdellolio commented on #244
no problem! and i don't see why not. You would have to create multiple instances of the authenticator and use the corresponding client for that profile to place an order

maybe something like this:
[code]

[2020-09-09 13:57] salocinx commented on #244
Thank you! Now everything seems to work fine 👍

[2020-09-09 13:57] #244 closed

[2020-09-22 17:24] gggustavo opened #245 "Fee Estimate ?"
Hello!
I'm checking the coinbasepro api and there is a GET **/withdrawals/fee-estimate**. It would be great to have it.
Thanks in advance

[2020-09-22 20:34] dougdellolio commented on #245
hey @gggustavo. This should now be added with https://github.com/dougdellolio/coinbasepro-csharp/commit/cff8be2f876bf1c254c2d334aa2d85be2950e35f. Please update to the latest version on NuGet for it (v1.0.39).

let me know if there are any issues. thanks!

[2020-09-22 20:34] #245 closed

[2020-09-23 01:45] gggustavo commented on #245
@dougdellolio thanks!

[2020-12-03 06:11] garrett-waage opened #247 "Requesting NuGet Publish"
Hey there,

Just requesting the latest build (with WBTC and NU support) be published to NuGet!

Thanks.

[2020-12-03 14:08] dougdellolio commented on #247
hey @garrett-waage

I just released it, thanks!

[2020-12-03 14:08] #247 closed

[2020-12-11 16:27] JensKDK opened #248 "Please add support for Filecoin FIL-USD/EUR/GBP/BTC"
Thank you.

[2020-12-11 18:30] dougdellolio commented on #248
@JensKDK all set. please upgrade to https://github.com/dougdellolio/coinbasepro-csharp/releases/tag/v1.0.41 on nuget

[2020-12-11 18:30] #248 closed

[2020-12-11 18:33] JensKDK commented on #248
You are quick :-)
Thank you very much!

[2020-12-18 23:59] JensKDK opened #249 "Get single product missing in ProductsService."
Hi,

Would you please add:

public async Task<Product> GetProductAsync(
            ProductType productId)
{
    return await SendServiceCall<Product>(HttpMethod.Get, $"/products/{productId.GetEnumMemberValue()}").ConfigureAwait(false);
}

to ProductsService. I wish I could do it myself, but you have too many weird things going on in ProductsServiceSpecs, that I'm not confident, I wont screw it up

[2020-12-19 01:29] oscar54321 opened #250 ""Invalid API key" error"
Dear All,

I am trying to write a simple C# application that retrieves the list of accounts. However, I am getting an authentication error  "Invalid API Key". Could you please advise on what I am doing wrong? Do I need to enable API access for my account in order for API keys to work?

This is the code I use, from Coinbase github repository for C#
[code]

[2020-12-19 01:40] dougdellolio commented on #249
hi @JensKDK. this is all set please update to the latest version on NuGet (https://github.com/dougdellolio/coinbasepro-csharp/releases/tag/v1.0.42)

[2020-12-19 01:40] #249 closed

[2020-12-19 01:44] dougdellolio commented on #250
hi @oscar54321, the key name you are using may be wrong. Make sure to use the generated key above the the API nickname and not the nickname itself.

[2020-12-19 01:51] oscar54321 commented on #250
Oh, Doug, thank you so much! I thought that scrambled string was "Default Portfolio" ID, I would have never figured out it is the key.

PS If I can apple cash you $20, please let me know privately your phone #. :)

[2020-12-19 01:58] dougdellolio commented on #250
no worries,  i'm glad it works 😃

[2020-12-19 01:58] #250 closed

[2020-12-19 20:16] oscar54321 opened #251 "AbstractService.SendHttpRequestMessageAsyncWithRetry for paginating requests"
Hello Guys,

I am trying now and then get a bunch of historical data. Framework itself is trying to throttle requests but it is not doing it comprehensively (for example, GetAllSubsequentPages has delay for paginated series itself, but it is not aware that a few other request might have executed just before and reduced the available quota). This is to propose wrapping up http requests with a simpl

[2020-12-19 20:30] oscar54321 opened #252 "AbstractService.SendHttpRequestMessagePagedAsync with filter callback"
Hello Guys,

This is a proposed new feature.

This is a default request responsible for pagination. Sometimes it is not possible to tell how many pages is required. For example, I want to retrieve all the historical trades to reconstruct the latest bar. I can't tell in in advance how many pages in historical trades sequence are going to be there, so I would like to keep retrieving page after page

[2020-12-19 20:36] oscar54321 commented on #202
I created class below to help solve this problem to string to enum conversions.

[code]

[2020-12-20 00:01] dougdellolio commented on #251
hi @oscar54321, please take a look at overriding the HttpClient behavior https://github.com/dougdellolio/coinbasepro-csharp#overriding-the-httpclient-behavior. I think this will help solve your problem if you're seeing rate limiting issues. You can override the behavior to make the requests as you please. Another thread to read through is here (https://github.com/dougdellolio/coinbasepro-csharp/is

[2020-12-20 00:04] dougdellolio commented on #252
hi @oscar54321. there is a default value of 0 assigned to the `numberOfPages` parameter on paginated requests. I would suggest not passing in any value here as this will create a request for all available pages.  please let me know if this doesn't solve the problem.

[2020-12-20 03:55] oscar54321 commented on #252
Hi Doug,

Let me clarify, I am trying to implement the suggested pattern for bootstrapping the realitme feed and I want my feed to build candles. So, I subscribe for trade updates using web socket and begin caching web socket match messages. Then, I begin retrieving historical trades (this is a paginated request without parameters) in order to build current candle. Once I received trades up to the

[2020-12-20 16:28] dougdellolio commented on #252
I want to make sure I am understanding what you are trying to do. You are building realtime candle and using the websocket feed to populate the data (as is the recommended solution), however, the docs state that the matches channel may drop messages (trades) so you must revert to the REST API to find the missing trades.

Are you currently subscribing to the heartbeat channel for this? You will kno

[2020-12-20 16:58] oscar54321 commented on #252
Doug,

To build realtime candles, I combine data from both historical trades REST and and websocket to build realtime candle, because candles can start in the past relative to the moment when I try to start building it. For example, its noon now and daily candle started 12 hours ago. Ask yourself, how many pages of historical trades is that? 50? 500? 50000? In order to retrieve history, I may need

[2020-12-20 21:52] gggustavo opened #253 "pair/currency"
Hello @dougdellolio
Could you add product pair/currency support for the following: USDC-USD ?

Thanks

[2020-12-21 00:21] dougdellolio commented on #253
hey @gggustavo. I don't believe this is a valid currency pair. I've checked through both sandbox and prod and don't see this

[2020-12-21 13:24] dougdellolio commented on #252
so while I think this is a valid problem, I am not convinced this should be added right now. This feels like a solution to a specific problem that you might be having. I would say if this is crucial to what you are trying to do you should fork the project and update it as you wish. I will keep this issue open and the request in my planner for the future should any other users come forward requesti

[2020-12-21 13:25] #174 closed

[2020-12-21 13:25] #179 closed

[2020-12-21 13:25] #253 closed

[2020-12-21 19:23] oscar54321 commented on #252
Doug, it's embarassing but I am not really good at github and forking. Would it be ok to ask for some very minor tweaks to framework to make it more extensible? I could have derived from this client it and override some services substituting my own extensions.

a) CoinbaseProClient: store local instances such as clock, query builder etc. in protected properties so that derived class could access t

[2020-12-21 20:14] dougdellolio commented on #252
No worries @oscar54321. Forking this project might be the best option for you as it sounds like there are some important changes needed for your specific project.

To fork you can press the "Fork" button at the top right of the repo's main page. This will create a copy of the code on your account. GitHub Docs has a really good "Getting Started" with forking if you need. https://docs.github.com/en/

[2020-12-29 12:12] ahilis opened #254 "Retrieving history of deposits"
Hi
there is a method "List deposits" in coinbase pro api via url "/transfers" : https://docs.pro.coinbase.com/?r=1#list-deposits
ICoinbaseProClient contains the same method for withdrawals but not for deposits.
Was it implemented or missed? Is there another way to get the list deposits?

[2020-12-29 16:04] dougdellolio commented on #254
hey @ahilis . I just published this with the next version on Nuget (https://github.com/dougdellolio/coinbasepro-csharp/releases/tag/v1.0.43) Let me know if you see any issues. thanks!

[2020-12-29 16:04] #254 closed

[2020-12-29 16:05] #252 closed

[2020-12-29 16:46] ahilis commented on #254
Thanks for such a quick fix!

[2020-12-30 03:55] ahilis opened #255 "Withdrawal details contract is not fully implemented"
withdrawals and deposits use the same contract - Transfer which is sufficient for deposits but in case of withdrawals 2 fields are missed:
![image](https://user-images.githubusercontent.com/6560240/103328925-75577c80-4a7c-11eb-979b-63c490a1812c.png)

[2020-12-30 14:19] dougdellolio commented on #255
hey @ahilis . added with https://github.com/dougdellolio/coinbasepro-csharp/commit/7abbbb7ab5ae848665d7d42e8af32f53802e758c. this will go out with next release. thanks!

[2020-12-30 14:19] #255 closed

[2021-01-03 10:22] ahilis commented on #255
Thanks!
What date of the next release?

[2021-01-04 12:31] ahilis opened #256 "FeesService is not declared in ICoinbaseProClient"

[2021-01-04 13:52] ahilis opened #257 "ProductsService.GetProductStatsAsync property "last" is missed in ProductStats contract"
https://docs.pro.coinbase.com/?r=1#get-24hr-stats

[2021-01-04 21:20] dougdellolio commented on #256
hey, nice catch. completed this and other issue in https://github.com/dougdellolio/coinbasepro-csharp/commit/6e8e31d8c655e2899edf9d6425461818856c9c28. I will release these soon

[2021-01-04 21:20] #256 closed

[2021-01-04 21:21] #257 closed

[2021-01-05 08:43] ahilis opened #258 "Addresses resouce is missed"
It is also seems missed in AccountsService =)
https://developers.coinbase.com/api/v2#addresses

[2021-01-05 13:20] ahilis commented on #258
looks like it's been added in v2
cant't clearly understand the workflow, maybe you could give me a hint?
1. how to get btc/eth address to deposits funds directly to Coinbase PRO account? (there is no way currently to get pro's wallet address)
2. how to make deposit properly? deposit CoinbaseAccount first and then DepositCoinbaseFundsAsync to transfer funds to PRO account and be able to place an or

[2021-01-05 22:16] dougdellolio commented on #258
hey, this resource is for Coinbase not Coinbase Pro so it wouldn't make sense to add. This library interacts with the exchange (Coinbase Pro) only and not regular Coinbase.

If you're looking to deposit from Coinbase to Coinbase Pro
1. Retrieve your Coinbase account ID from CoinbaseAccountsService
2. Use the AccountId from above and pass into DepositCoinbaseFundsAsync (in `DepositsService`) to dep

[2021-01-05 22:16] #258 closed

[2021-01-15 17:45] ahilis opened #259 "LTC-USDC pair is missed"
hey, its me again)
this pair is missed in ProductType enum
btw, is there any ETA of the next release?

[2021-01-15 19:55] dougdellolio commented on #259
hey @ahilis . i don't see LTC-USDC as a valid trading pair so I don't think it makes sense to add.

![image](https://user-images.githubusercontent.com/4141717/104772393-5ece4800-5741-11eb-9cea-4c0bb322dea1.png)

there's no set schedule.  Typically as changes pile up over time, I do releases.

will close for now, thanks!

[2021-01-15 19:55] #259 closed

[2021-01-17 14:32] ahilis opened #260 "Withdrawal details wrong property type"
One more issue has been found)
On requesting list of withdrawals API returns "coinbase_withdrawal_id":"60016cca61a29806ea777fca"
and then code tries to map it to Withdrawal.Transfer.Details. But the property has type Guid => we get exception on json deserialization.
Actually, don't know why, it looks like Guid in docs...
Could you please fix and maybe make a new release?

Also, prop CoinbaseWithdr

[2021-01-17 15:32] dougdellolio commented on #260
hi @ahilis.  the docs do show them as Guid but sometimes the docs are wrong. Changed to a string to be safe and removed the useless prop.  I have released the latest to nuget (https://github.com/dougdellolio/coinbasepro-csharp/releases/tag/v1.0.44), so please update when you can.

thanks

[2021-01-17 15:32] #260 closed

[2021-01-19 23:01] gggustavo opened #261 "GetProductTickerAsync productType=XrpUsd"
Hello!
When Call GetProductTickerAsync with **XrpUsd**
threw exception: CoinbasePro.Exceptions.CoinbaseProHttpException: NotFound

GDAX.Api.ClientLibrary Version=1.0.44
Thanks!

[2021-01-19 23:40] dougdellolio commented on #261
hey! @gggustavo. XRP was suspended as of today (January 19, 2021). You can read more about it here: https://blog.coinbase.com/coinbase-will-suspend-trading-in-xrp-on-january-19-2e09652dbf57

![image](https://user-images.githubusercontent.com/4141717/105107217-9e6c9b00-5a85-11eb-892a-4cead5f05c54.png)

[2021-01-19 23:40] #261 closed

[2021-01-19 23:42] gggustavo commented on #261
Thanks @dougdellolio

[2021-01-24 15:07] ahilis opened #262 "Deposits and withdrawals paging"
Hi,
I've found that paging for the method: DepositSerivce.GetAllDepositsAsync() is not implemented, right?
Filters (before and start) are only works with dates (not time), so in case if account will receive more that 100 deposits, only first 100 will be available from API. But how to get the rest without paging?
Same for WithdrawalsService.GetAllWithdrawals().

[2021-01-24 23:15] dougdellolio commented on #262
I believe the way this endpoint works is you request the deposits and withdrawals by passing a date and time stamp with `before` and `after`. I have committed a change that should allow you to use the time component now as the way the format worked before did not allow for it. https://github.com/dougdellolio/coinbasepro-csharp/commit/a981d6dafb108c8e1b23e437ea7b6e3ab282080b. The time you pass in s

[2021-01-24 23:15] #262 closed

[2021-01-25 05:51] ahilis commented on #262
Yes thank you, the problem is that the package sends dates only.
When the fix will be released?

[2021-01-30 23:03] jamesboyer opened #263 "Example for automatically sending sell order after filled buy order"
I was wondering what would be the recommended way to send a limit sell order after placing and filling a buy order. I have similar to the following, however I never get a Done matching my buyId so I can place a sell limit order. Is there a different web socket event I should be listening to?

[code]

[2021-01-31 12:15] damien-alchemylabz commented on #202
if it helps anyone ...

 private async Task<ProductType> GetProductType(string productstring)
        {
            ProductType item = (ProductType)Enum.Parse(typeof(ProductType), productstring);
            return item;
        }

[2021-01-31 16:38] dougdellolio commented on #263
hey @jamesboyer,

A few things here:

The client_oid that you are passing in when placing the order is _different_ than the `OrderId` on `LastOrder` so the match you are doing won't work. The correct way to do this would be to use the `id` property returned from your `buyResult`  as the match in your `OnDoneRecieved` instead of the buyId. Something like this:

[code]
The client_oid will only be av

[2021-01-31 20:44] jamesboyer commented on #263
Makes sense. Only downside is that the `WebSocket_OnDoneReceived` could get handled prior to me setting `tradeId`. Will have to figure out a way around that but shouldn't be too hard. Important thing is at least I do have the right event. Thanks for the help.

[2021-01-31 20:44] #263 closed

[2021-02-03 16:16] minskowl opened #264 "Please add Unsubscribe to Websocket Feed Channel"
Need to possible usubscribe from separate channel
https://docs.pro.coinbase.com/#subscribe
"If you want to unsubscribe from channel/product pairs, send an unsubscribe message. The structure is equivalent to subscribe messages."

We start trading One instrument
Subscribe ticker chanel BTC-USD
Than start trading another instrument
Subscribe ticker chanel GBP-USD

when we finish trading one intrument

[2021-02-03 16:37] dougdellolio commented on #264
hey @minskowl. I believe you should be able to do this already using `ChangeChannels(..)` on the Websocket object. https://github.com/dougdellolio/coinbasepro-csharp/blob/master/CoinbasePro/WebSocket/WebSocket.cs#L125

let me know if this doesn't work

[2021-02-03 16:47] minskowl commented on #264
Sorry.
Thanks for help

[2021-02-03 16:47] #264 closed

[2021-02-05 08:05] XaeroDegreaz opened #265 "Why is an Authenticator required in order to use the GetHistoricRatesAsync method?"
This is a public Coinbase API which does not require authentication.

You can test it here: https://api.pro.coinbase.com/products/BTC-USD/candles?start=2021-01-30T12:15:00&end=2021-01-30T12:41:00&granularity=60

Stack:
[code]

There are also no failures when mixing matching sandbox / prod credentials and client constructor flags, further making this evident that is a public API.

[2021-02-05 16:18] dougdellolio commented on #265
hey @XaeroDegreaz . This is certainly a bug. I have fixed it here: https://github.com/dougdellolio/coinbasepro-csharp/commit/22424ad26e8bf753d598ffcac60d656b731a739a. Please upgrade to the latest version on NuGet. Let me know if you see any issues.

thanks!

[2021-02-05 16:18] #265 closed

[2021-02-06 14:05] nicbavetta commented on #198
This model is currently out of date. [See here](https://docs.pro.coinbase.com/#the-full-channel).

If the user is the maker, the following data will be included in the response:

[code]

If the user is the taker, the following data will be included in the response:

[code]

Therefore, the following properties should be added:

- maker_user_id
- maker_profile_id
- maker_fee_rate
- taker_fee_rate

[2021-02-06 14:06] SirOsisOfTheLiver opened #266 "API change for cancelling orders - requires symbol by 2 weeks after 01/28/2021"
from : https://docs.pro.coinbase.com/

Upcoming Changes
01/28/21

API FIX - Order Cancel Request (F) endpoint will require the Symbol field after a two-week lead period. After two weeks, this will be hard-enforced. It is recommended to prepare for this change now.

[2021-02-06 14:38] dougdellolio commented on #266
hey @SirOsisOfTheLiver - this change looks like it might be for the FIX API only. It is unclear to me if it will also be hard enforced for the REST API but as of now all seems to work as is. Either way I will keep an eye out and make the updates as necessary. thanks for the heads up

[2021-02-06 14:38] #266 closed

[2021-02-07 01:42] SirOsisOfTheLiver commented on #266
OK, thanks

[2021-02-09 13:25] steevehuin opened #268 "Account Service Async?"
Hi there,

I'm new to this project and have successfully downloaded/compiled the CoinbasePro project; and have tried to follow a simple example:

`
            //create an authenticator with your apiKey, apiSecret and passphrase
            var authenticator = new Authenticator("...", "...", "...");

            //create the CoinbasePro client
            var coinbaseProClient = new CoinbasePro.Co